﻿@model Babc_logistic_core.GIS.DTO.OrderHead

@{
    ViewBag.Title = "Details";
}

<div class="logistics-page-header">
    <h1>@Babc_logistic_core.Language.Resources.Details</h1>
    <table style="width:100%">
        <tr>
            <td><b>Order No: </b>@Model.OrderNo</td>
            <td><b>Delivernote: </b>@Model.LastDeliverNote</td>
            <td><b>Delivermethod: </b>@Model.DeliverWay</td>
            <td><b>Deliverterms: </b>@Model.DeliverTermsDescription</td>
            <td><b>Weight: </b>@Model.TotalWeight</td>
        </tr>
        <tr>
            <td><b>Customer: </b> @Model.DeliverCustomerName</td>
            <td><b>Address 1: </b> @Model.DeliverAddress1</td>
            <td><b>Address 2: </b> @Model.DeliverAddress2</td>
            <td><b>Zip & City: </b>@Model.DeliverZipCity</td>

        </tr>
        <tr>
            <td><b>Work Order: </b>@Model.Text3</td>
            <td><b>Your OrderNo: </b>@Model.Text1</td>
            <td><b>Goods Mark: </b>@Model.Text2</td>
        </tr>
    </table>
</div>
<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Action</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse action-list" id="action-list">
            <form class="d-flex navbar-form" id="frmSign" role="form">
                <input id="sign" class="form-control me-2 form-control uppercase" name="sign" type="search" placeholder="Username" aria-label="Search" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
                <button id="btnPick" class="btn btn-outline-dark logistics-btn-outlined start-button" disabled asp-route-id="@Model.OrderNo" style="margin-left:5px;color:white" asp-action="PickOrder" type="submit">Pick</button>
            </form>
            @*<ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a id="printButton" style="color:white" asp-action="PrintPicklist" asp-route-id="@Model.OrderNo" type="submit" class="btn btn-outline-dark logistics-btn-outlined @(Model.PickListState  == "5" ? "disabled" : "")"><span class="glyphicon glyphicon-print"></span>Skriv ut plocksedel</a>
                </li>
            </ul>*@
        </div>
        <div class="navbar-collapse collapse dual-collapse2 action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="Picklist" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<table class="table">
    <tr>
        <th>
            <h4>Row</h4>
        </th>
        <th>
            <h4>Product</h4>
        </th>
        <th>
            <h4>Description</h4>
        </th>
        <th style="text-align:right;">
            <h4>Amount</h4>
        </th>
        <th>
            <h4>Info</h4>
        </th>
        <th>
            <h4>Orig</h4>
        </th>
        <th>
            <h4>Del</h4>
        </th>
        <th>
            <h4>Stock</h4>
        </th>
        <th>
            <h4>Unit</h4>
        </th>
        <th>
            <h4>Warehouse</h4>
        </th>
        <th>
            &nbsp;
        </th>
    </tr>


    @foreach (var item in Model.OrderRows)
    {
        //                string rowClass = "", inputStyle = "";
        bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
        bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
        bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;
        decimal missingAmount = 0;

        string rowStyle = "";

        if (((item.Amount - item.DeliveredAmount) > item.AmountToDeliver) && !(item.MDF.Equals("1") || item.MDF.Equals("2")))
        {
            //                    rowClass = "";
            //inputStyle = "background-color:rgba(243, 125, 125, 1);";
            missingAmount = item.AmountToDeliver.Value - (item.Amount.Value - item.DeliveredAmount.Value);
        }

        if (fullDeliver)
        {
            rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
        }
        else if (partDeliver)
        {
            rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
        }

        <tr style="@rowStyle" id="row-@item.RowNo">


            <td>
                @Html.DisplayFor(modelItem => item.RowNo)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProductNo)
            </td>


            <td>


                <div>
                    @item.ProductDescription
                </div>
                @if (item.Textrows != null)
                {
                    foreach (Babc_logistic_core.GIS.DTO.OrderRowText t in item.Textrows)
                    {
                        <div style="font-style:italic;color:gray;">
                            @t.Text
                        </div>
                    }
                }
                @if (item.MDF == "1" || item.MDF == "2")
                {
                    if ((ViewBag.Materials as Dictionary<string, List<Babc_logistic_core.GIS.DTO.MaterialRow>>).ContainsKey(item.OrderNo + item.RowNo.ToString()))
                    {
                        List<Babc_logistic_core.GIS.DTO.MaterialRow> mr = (ViewBag.Materials as Dictionary<string, List<Babc_logistic_core.GIS.DTO.MaterialRow>>)[item.OrderNo + item.RowNo.ToString()];
                        <div style="font-style:italic;color:gray;margin-top:5px;border-style:solid;border-width:1px;border-color:lightgray;border-radius:5px;">
                            <table style="width:100%;">
                                <tr>
                                    <th style="border-top-width:0px;">
                                        <b> Material </b>
                                    </th>
                                    <th style="border-top-width:0px;">
                                    </th>
                                    <th style="border-top-width:0px;text-align:right;">
                                        Antal
                                    </th>
                                </tr>
                                @foreach (Babc_logistic_core.GIS.DTO.MaterialRow m in mr)
                                {
                                    <tr>
                                        <td> @m.ProductNo </td>
                                        <td> @m.ProductDescription </td>
                                        <td style="text-align:right;"> @m.Amount </td>


                                    </tr>
                                }
                            </table>
                        </div>
                    }
                }
            </td>
            <td style="text-align:right;">
                @if (!fullDeliver)
                {
                    <span><b>@(item.Amount - item.DeliveredAmount) </b></span>
                }
                else
                {
                    <span> Klar </span>
                }

            </td>
            <td>
                @if (missingAmount != 0)
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-danger">@missingAmount</span>
                }
                <br />
                @if (!item.PreferedDeliverDate.Equals("") && (!item.PreferedDeliverDate.Equals(Model.PreferedDeliverDate)))
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-warning">Lev.dat: @item.PreferedDeliverDate</span>
                }
            </td>
            <td style="text-align:right;">
                <span> @item.Amount </span>
            </td>
            <td style="text-align:right;">
                <span>@item.DeliveredAmount</span>
            </td>
            <td style="text-align:right;">
                <span> @item.Product.Stock </span>
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td style="text-align:right;">
                @if (string.IsNullOrEmpty(item.WarehouseNo))
                {
                    if (item.Product != null)
                    {
                        @item.Product.WarehouseNo
                    }
                }
                else
                {
                    @item.WarehouseNo
                }
            </td>
            @if (item.MDF.Equals("1") || item.MDF.Equals("2"))
            {
                <td>
                    <span class="glyphicon glyphicon-cog tip"></span>
                </td>
            }
            else
            {
                <td> </td>
            }

        </tr>

    }
</table>

@section Scripts {
    <script type="text/JavaScript">

		$(document).ready(function () {
			function validateSignature(signature)
			{
				$.ajax({
					url: '@Url.Action("ValidateSignature", "Order")',
					contentType: "application/json; charset=utf-8",
					data: { sign : signature },
					dataType: "",
					success: successFunc,
					error: errorFunc
				});
			}

			$("#sign").keyup(function () {
				validateSignature($('#sign').val());
			});

			function successFunc(data) {
				if (data == "true")
				{
					$(".start-button").attr("disabled", false);
					//$(".start-button").attr("href", "/Order/PickOrder/?id=@Model.OrderNo&sign=" + $('#sign').val());
				}
				else
				{
                    $(".start-button").attr("disabled", true);
				}
			}

			function errorFunc() {
				$(".start-button").addClass("disabled");
			}
		});
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
        })));

    </script>
}

<script type="text/javascript">
</script>