﻿@model IEnumerable<Babc_logistic_core.GIS.DTO.OrderHead>

@{
    ViewBag.Title = "Order";
}

<div class="logistics-page-header">
    <h1>Order in process</h1>
</div>

<table class="table logistics-table">
    <tr>
        <th>
            Order
        </th>
        <th>
            Customer
        </th>
        <th>
            Signature
        </th>
        <th>
            Text
        </th>
        <th>
            Deliverdate
        </th>
        <th>
            Rows
        </th>
        <th>
            Info
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliverCustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    <div>
                        @item.Text1
                    </div>
                    <div>
                        @item.Text2
                    </div>
                </td>
                <td>
                    @item.PreferedDeliverDate
                </td>
                <td style="text-align:center;">
                    @item.OrderRows.Count.ToString()
                </td>
                <td>
                    @if (item.DeliverState.CompareTo("0") > 0)
                    {
                        <span class="badge badge-success">REST</span>
                    }
                    @if (!string.IsNullOrEmpty(item.CountryCode))
                    {
                        <span class="badge badge-info">@item.CountryCode</span>
                    }
                    @if (item.Relations)
                    {
                        <span class="badge badge-danger">IK</span>
                    }
                    @if (item.isPrioOrder)
                    {
                        <span class="badge badge-danger">#!</span>
                    }
                </td>

                <td>
                    <form class="navbar-form navbar-left" action="Details" role="search" method="post">
                        <input type="hidden" name="id" value="@item.OrderNo" />
                        <button type="submit" class="btn logistics-btn-action tip glyphicon glyphicon-shopping-cart">Pick</button>
                    </form>
                </td>
            </tr>
        }
    }

</table>

<script>
    if (!Modernizr.inputtypes.date) {
        $("#dateFrom").datepicker(
            { format: "yy-mm-dd" }
        );

        $("#dateTo").datepicker(
            { format: "yy-mm-dd" }
        );
    }</script>

