﻿@model IEnumerable< Babc_logistic_core.GIS.DTO.OrderHead >

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<div id="search-customer" class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" method="post">
            @*<select name="search_type">
                <option @{if(ViewBag.search_type == "Datum") "selected" else "") }>Datum</option>
                <option @(ViewBag.search_type=="Kund" ? "selected" : "" )>Kund</option>
                <option @(ViewBag.search_type=="Säljarkod" ? "selected" : "" )>Säljarkod</option>
            </select>*@
            <input name="search_value" type="datetime" value="@ViewBag.search_value" />
            <button type="submit" class="btn btn-primary btn-xs">Sök</button>
        </form>
    </div>
</div>


<p>
    <span class="btn btn-lg">@Html.ActionLink("Create New", "Create")</span>
</p>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Kundnr
        </th>
        <th>
            Ordertyp
        </th>
        <th>
            Datum
        </th>
        <th>
            Referens
        </th>
        <th>Knappar</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliverCustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderType)
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OurReferenceName)
                </td>
                <td>
                    <a class="btn btn-primary tip" href="/Order/Edit/@item.OrderNo" data-toggle="tooltip" data-placement="right" data-original-title="Editera order"><span class="glyphicon glyphicon-ok"></span></a>
                </td>
            </tr>
        }
    }

</table>

