﻿
@{
    ViewData["Title"] = "OrderIsAlreadyUnderPicking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Order is ongoing</h3>
<hr />
<div>
    Order <b>@ViewBag.Order</b> is currently handled by signature <b>@ViewBag.Signature</b>. Do you want to take over this order!
</div>
<hr />
<div>
    <a href="@ViewBag.ForwardPath" class="btn logistics-btn-action"> Yes</a>
    <a href="@ViewBag.BackPath" class="btn logistics-btn-action"> No</a>
</div>
