@model IEnumerable<Babc_logistic_core.GIS.DTO.OrderHead>

@{
    ViewBag.Title = "Pick List";
}
<head>
    @*<script type="text/javascript" src="/path/to/jquery-latest.js"></script>
        <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>*@



</head>
<div class="logistics-page-header">
    <h1>Picklist</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Action</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse action-list" id="action-list">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" role="tablist">
@*    <li class="nav-item active">
    <form class="container-fluid justify-content-start" method="post" asp-action="PickList">
    <button class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-search_type="supplie" asp-route-search_value="@DateTime.Now.ToString("yyMMdd")" asp type="submit">Customer Order</button>
    </form>
    </li>*@
@*<li class="nav-item">
    <form class="container-fluid justify-content-start" method="post" asp-action="PickList">
    <button class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-search_type="pre" asp-route-search_value="@DateTime.Now.ToString("yyMMdd")" asp type="submit">Pre.Orders</button>
    </form>
    </li>
    <li class="nav-item">
    <form class="container-fluid justify-content-start" method="post" asp-action="PickList">
    <button class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-search_type="other" asp-route-search_value="@DateTime.Now.ToString("yyMMdd")" asp type="submit">Other Orders</button>
    </form>
    </li>*@
</ul>
    </div>

    <input id="ordernumber" placeholder="Search Order Number" type="text" name="ordernumber" value="" style="margin-right:5px" class="input-group-text " />
     <button id="btn-search-order" class="nav-link active btn btn-outline-dark logistics-btn-outlined" value="Search">Search</button>
    </div>

  </nav>

<div class="table-responsive">

    <table id="table" class="table logistics-table">

        <tr style="cursor:pointer">
            <th class="d-none d-md-table-cell">
                OrderNo
            </th>
            <th>
                Customer
            </th>
            <th class="d-none d-lg-table-cell">
                Text 1&2
            </th>
            <th class="d-none d-lg-table-cell">
                Mode of delivery
            </th>
            <th>
                Deliverdate
            </th>
            <th>
                Info
            </th>
            <th class="d-none d-lg-table-cell">
                Rows
            </th>
            <th class="d-none d-lg-table-cell">
                Remaining
            </th>
            <th></th>
            <th></th>
        </tr>

        <hr />

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                string style = "";

                if (item.PickListState == "P")
                {
                    style = "background-color:lightcoral";
                }
                else
                {
                    style = "";
                }

                <tr style="@style">
                    <td class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        <div>@Html.DisplayFor(modelItem => item.DeliverCustomerName)</div>
                        <div>@Html.DisplayFor(modelItem => item.DeliverZipCity)</div>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <div>
                            @item.Text1
                        </div>
                        <div>
                            @item.Text2
                        </div>
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.DeliverWay)
                    </td>
                    <td>
                        @item.PreferedDeliverDate
                    </td>
                    <td>
                        @if (item.isLargeOrder)
                        {
                            <span class="badge badge-danger">LARGE</span>
                        }
                        @if (item.DeliverState.CompareTo("0") > 0)
                        {
                            <span class="badge badge-success">REST</span>
                        }
                        @if (!string.IsNullOrEmpty(item.CountryCode))
                        {
                            <span class="badge badge-info">@item.CountryCode</span>
                        }
                        @if (item.Relations)
                        {
                            <span class="badge badge-danger">IK</span>
                        }
                        @if (item.isPrioOrder)
                        {
                            <span class="badge badge-danger">#!</span>
                        }
                        @if (item.HasMaterialPlannedRows)
                        {
                            <span class="badge badge-warning">Mat.Plan</span>
                        }
                       @if(item.X1F=="N")
                                    {
                                      <span class="badge badge-warning">Shortfall</span>
                                    }
                    </td>

                    <td class="d-none d-lg-table-cell" style="text-align:center;">
                        @item.OrderRows.Count(r=>r.RowNo <= 250)
                    </td>
                    <td class="d-none d-lg-table-cell" style="text-align:center;">
                        @if (item.IsWholeOrderDeliverable == true)
                        {
                            <div><span style="">@item.OrderRows.Count(r=>r.RowNo <= 250) </span></div>
                        }
                        else
                        {
                            int sum = @item.OrderRows.Count - @item.NonDeliverableRows;

                            <span style="">@sum</span>
                        }
                    </td>
                    <td>
                        @if (!ViewBag.search_type.Equals("customer"))
                        {
                            if (item.AdditionalOrders)
                            {
                                <form role="search" method="post" target="_blank">
                                    <button type="submit" asp-route-search_type="customer" asp-action="PickList" asp-route-search_value="@item.DeliverCustomerNo" asp-route-search_value2="@item.PreferedDeliverDate" class="btn btn-dark">More</button>
                                </form>
                            }
                        }
                    </td>
                    <td>
                        @*<form role="search" method="post">
                            <button type="submit" asp-action="Details" asp-route-id="@item.OrderNo" class="btn btn-dark">Pick</button>

                            </form>*@
                        <button class="btn logistics-btn-action btn-order" data-order="@item.OrderNo" style="margin:5px;color:black">Pick</button>
                        <button class="btn logistics-btn-action btn-order-pp" data-order="@item.OrderNo" style="margin:5px; color:black">Pre-Pick</button>
                    </td>
                </tr>
            }
        }


    </table>
</div>

<div id="dialog-form-signature" title="Signera">
    <p class="validateTips">Enter signatur</p>

    <form class="d-flex navbar-form" id="frmSign" role="form">
        <input id="sign" class="form-control me-2 form-control uppercase" type="search" placeholder="Signatur" maxlength="4" aria-label="Search">
        <input id="pick-id" class="form-control me-2 form-control uppercase" type="hidden" name="id" value="" />
        <input id="pick-sign" class="form-control me-2 form-control uppercase" type="hidden" name="sign" value="" />
                <input id="pick-isFutureOrder" class="form-control me-2 form-control uppercase" type="hidden" name="isFutureOrder" value="" />
        <button id="btn-pick" class="btn btn-outline-dark logistics-btn-outlined start-button disabled" disabled asp-action="PickOrder" type="submit">Pick</button>
                           
        </Form>

</div>
    <div id="dialog-Error" title="Couldn't find any orders">
        <p class="validateTips">There was no order found with that order number.</p>

    </div>

    
    <div id="dialog-SelectDelivernote" style="align-content:center;align-items:center;align-self:center;text-align:center" title="Select a Deliver note">
        <form method="post" asp-controller="Order" asp-action="HistoricDetails" >
           <select id="delnote" name="delnote">
               <option>Choose a delivernote</option>
           </select>
           <input type="hidden" id="onr" name="onr" />
           <button type="submit" style="margin-top:10px" class="btn logistics-btn-action btn-order">Go to delivernote</button>
       </form>
    </div>

<script>

    $(document).ready(function () {
            $(document).on('click', '#btn-search-order', {}, function (e)
        {
          
            searchOrder();

        });
         $("#dialog-Error").dialog({
            autoOpen: false,
            height: 250,
            width: 400,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });
                 $("#dialog-SelectDelivernote").dialog({
            autoOpen: false,
            height: 200,
            width: 350,
            modal: false,
  
            close: function () {

            }
        });

        $("#dialog-form-signature").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                Cancel: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });

        $(".btn-order").on("click", function () {
            $("#pick-id").val($(this).data("order"));
            $("#pick-isFutureOrder").val("false");
            $("#dialog-form-signature").dialog("open");
        });
            $(".btn-order-pp").on("click", function () {
            $("#pick-id").val($(this).data("order"));
            $("#pick-isFutureOrder").val("true");
            $("#dialog-form-signature").dialog("open");
        });
        $('th').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })

        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.split(" ");
            //create a jquery object of the rows
            var jo = $("#fbody").find("tr");

            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
                //show the rows that match.
                .show();
        }).focus(function () {
            this.value = "";
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

        /**
         * ***********************
         *  Hantering av signatur
         * ***********************
         */
        function validateSignature(signature)
            {
                $.ajax({
                    url: '@Url.Action("ValidateSignature", "Order")',
                    contentType: "application/json; charset=utf-8",
                    data: { sign : signature },
                    dataType: "",
                    success: successFunc,
                    error: errorFunc
                });
            }

            $("#sign").keyup(function () {
                validateSignature($('#sign').val());
            });

            function successFunc(data) {
                if (data == "true")
                {
                    $("#btn-pick").removeClass("disabled"); // Only for css, no functionality on disable
                    $('#btn-pick').prop("disabled", false)
                    $("#pick-sign").val($("#sign").val());
                }
                else
                {
                    $("#btn-pick").addClass("disabled"); // Only for css, no functionality on disable
                    $('#btn-pick').prop("disabled", true)
                }
            }

            function errorFunc()
            {
                $('#btn-pick').prop("disabled", true)
                $("#btn-pick").addClass("disabled"); // Only for css, no functionality on disable
            }

                function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }

    //if (!Modernizr.inputtypes.date) {
    //    $("#dateFrom").datepicker(
    //        { format: "yy-mm-dd" }
    //    );

    //    $("#dateTo").datepicker(
    //        { format: "yy-mm-dd" }
    //    );
    //}





    })
       
    function getCellValue(row, index) { return $(row).children('td').eq(index).text() }

    //const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));


      // do the work...
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => table.appendChild(tr));
    })));


</script>



<script>


    function searchOrder()
    {
        var options = {};
        options.url = "/Order/SearchOrder";
        options.type = "POST";
        options.data = { ordernumber: $("#ordernumber").val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data)
        {
            if (data.startsWith("OK"))
            {
            $("#pick-id").val($("#ordernumber").val());
            $("#pick-isFutureOrder").val("false");
            $("#dialog-form-signature").dialog("open");
             
       
            }
             else if (data.startsWith("GoToDN:"))
            {          
               let myArray = data.split(":");
               alert(myArray[1]);
             window.location.href = '/Order/HistoricDetails/?onr='+$("#ordernumber").val()+'&delnote='+myArray[1];
       
            }
            else if (data.startsWith("|"))
            {
            let myArray = data.split("|");
            myArray.splice(0,1);

            var html = '';
            $.each(myArray, function(index,value) {
                var link = document.createElement('option');

        link.setAttribute('value', value);
          link.setAttribute('label', 'Delivernote: '+value);
           $("#onr").val($("#ordernumber").val());
   
        document.getElementById('delnote').appendChild(link);


               
            });
            

            $("#dialog-SelectDelivernote").dialog("open");
             
       
            }
            else
            {
                alert(data);
                    $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function ()
        {
            hide_spinner($("#order-list"));
            alert("Error while searching order!");
        };
        $.ajax(options);
    }




</script>






@*<script>
    //if (!Modernizr.inputtypes.date) {
    //    $("#dateFrom").datepicker(
    //        { format: "yy-mm-dd" }
    //    );

    //    $("#dateTo").datepicker(
    //        { format: "yy-mm-dd" }
    //    );
    //}

    $("#pg-bar").hide();

    $(function () {
    $("#myTable").tablesorter();
    });
    $(function () {
    $("#myTable").tablesorter({ sortList: [[0, 0], [1, 0]] });
    });
    </script>*@

