﻿@model Babc_logistic_core.GIS.DTO.OrderHead
@using Babc_logistic_core.Database
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Details";
    var user = UserManager.GetUserAsync(User).Result;
    var Company = "";
    if (user.GisToken == "mafi")
    {
        Company = "SE";
    }
    else if (user.GisToken == "USA")
    {
        Company = "US";
    }
    else if (user.GisToken == "EA")
    {
        Company = "KE";
    }
    else if (user.GisToken == "MX")
    {
        Company = "MX";
    }
    else
    {
        Company = "SE";
    }

}

<div class="logistics-page-header">
    <h1>Delivernote</h1>
    <table style="width:100%">
        <tr>
            <td><b>OrderNo:</b> @Html.DisplayFor(model => model.OrderNo)</td>
            <td><b>Delivernote:</b> @Html.DisplayFor(model => model.LastDeliverNote)</td>
            <td><b>Deliverterms:</b> @Html.DisplayFor(model => model.DeliverWay)</td>
        </tr>
        <tr>
            <td><b>Customer:</b> @Html.DisplayFor(model => model.DeliverCustomerName)</td>
            <td><b>Address 1:</b> @Html.DisplayFor(model => model.DeliverAddress1)</td>
            <td><b>Address 2:</b> @Html.DisplayFor(model => model.DeliverAddress2)</td>
            <td><b>Zip & City:</b> @Html.DisplayFor(model => model.DeliverZipCity)</td>
        </tr>
        <tr>
            <td><b>Info 1:</b>@ViewBag.Customer.Text_3</td>
            <td><b>Info 2:</b>@ViewBag.Customer.Text_5</td>
            <td><b>Info 3:</b>@ViewBag.Customer.Text_6</td>
        </tr>
    </table>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark logistics-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @if (Model.LastDeliverNoteState == "5")
                    {
                        <a asp-action="" class="nav-link btn btn-outline-dark logistics-btn-outlined noprint disabled" >Delivery note is printed</a>
                    }
                    else
                    {
                        <a asp-action="PrintDeliverNote" asp-route-id="@Model.LastDeliverNote" class="nav-link active btn btn-outline-dark logistics-btn-outlined noprint">Print delivery note</a>
                    }
                </li>

            </ul>
        </div>
        <div class="navbar-collapse collapse dual-collapse2 action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="PickOrder" asp-route-id="@Model.OrderNo" asp-route-sign="@Model.Season" class="nav-link active btn btn-outline-dark logistics-btn-outlined noprint">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table logistics-table">
            <tr>
                <th>
                    Row
                </th>
                <th>
                    Product
                </th>
                <th>
                    Description
                </th>
                <th style="text-align:right;">
                    Delivered
                </th>
                <th style="text-align:right;max-width:20px;">
                    Unit
                </th>
            </tr>

            @foreach (var item in Model.OrderRows)
            {
                bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
                bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
                bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;

                string rowStyle = "";

                if (fullDeliver)
                {
                    rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
                }
                else if (partDeliver)
                {
                    rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
                }

                <tr style="@rowStyle" id="row-@item.RowNo">
                    <td>
                        @Html.DisplayFor(modelItem => item.RowNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNo)
                    </td>
                    <td>
                        @item.ProductDescription
                    </td>
                    <td style="text-align:right;">
                        <span>@item.DeliveredAmount</span>
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td style="text-align:right;">
                        @if (string.IsNullOrEmpty(item.WarehouseNo))
                        {
                            if (item.Product != null)
                            {
                                @item.Product.WarehouseNo
                            }
                        }
                        else
                        {
                            @item.WarehouseNo
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div>

</div>


<div id="dialog-deliver" title="Print Customer Label">
    <form id="frm-deliver" method="post" action="PrintGoodsLabel">
        <div class="form-group">
            <label id="label-deliver-identity"><h6>Printer: 1 = Hall A, 2 = Hall B</h6></label>
            <input type="text" id="deliver-labelamount" name="qty" value="" maxlength="1" class="form-text">

            <label id="label-deliver-identity"><h6>Number of Labels:</h6></label>
            <input type="text" id="deliver-labelamount" name="qty" value="" maxlength="4" class="form-text">

        </div>
        <input type="hidden" id="deliver-orderno" name="orderno" value="@Model.OrderNo" />

        <input type="submit" value="Print" class="btn logistics-btn-action" />
        <input type="button" value="Cancel" class="btn logistics-btn-action" onclick="$('#dialog-deliver').dialog('close');" />
    </form>
</div>

<div id="dialog-deliverLA" title="Print Customer Label">
    <form id="frm-deliver" method="post" action="PrintGoodsLabelLA">
        <div class="form-group">
            @if (user.GisToken == "mafi" || user.GisToken == "Mafi22")
            {
                <label id="printerquelabel"><h6>Printer: 1 = Hall A, 2 = Hall B</h6></label>
                <input type="text" id="printerque" name="printerque" value="" maxlength="1" class="form-text printerque">
            }
            <label id="label-deliver-qtyofLabels"><h6>Number of Labels:</h6></label>
            <input type="text" id="qtyOfLabels" name="qtyOfLabels" value="1" maxlength="4" class="form-text qtyOfLabels">

            <label id="label-deliver-qty"><h6>Qty:</h6></label>
            <input type="text" id="qty" name="qty" value="" maxlength="4" class="form-text qty">

            <label id="label-deliver-origin"><h6>Country of Origin:</h6></label>
            <input type="text" id="origin" name="origin" value="" maxlength="2" class="form-text origin">

            <label id="label-deliver-IncludeItemNo"><h6>Include Mafi item No.?  Y/N></label>
            <input type="text" id="IncludeItemNo" name="IncludeItemNo" value="Y" maxlength="2" class="form-text IncludeItemNo">
        </div>

        <input type="hidden" id="orderno" name="orderno" value="@Model.OrderNo" />
        <input type="hidden" id="company" name="company" value="@Company" />
        <input type="hidden" id="rowno" name="rowno" value="" />

        <input type="submit" value="Print" class="btn logistics-btn-action" />
        <input type="button" id="Cancel" value="Cancel" class="btn logistics-btn-action Cancel" />

    </form>
</div>






@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ViewDeliveredOrder</title>
    </head>
    <body>
    </body>
    </html>*@

<script>
    $(document).ready(function () {

        $("#dialog-deliver").dialog({
            autoOpen: false,
            height: 370,
            width: 350,
            modal: true,
            dialogClass: 'no-close',
        });


        $('#btn-print-label').click(function () {
            $("#dialog-deliver").dialog("open");
        });




        $('.Cancel').click(function () {
            var current = null;

            var order = null;
            var row = null;
            var origin = null;
            var qty = null;
            $('#dialog-deliverLA').dialog('close');
            return;

        })
        $("#dialog-deliverLA").dialog({
            autoOpen: false,
            height: 500,
            width: 350,
            modal: true,
            dialogClass: 'no-close',
        });




    })
    $(document).on('click', '.btn-print-labelLA', {}, function (e) {
        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");
        var origin = $("#" + current).attr("data-origin");
        var qty = $("#deliver-amount-row-" + row).val();




        $("#rowno").val(row);
        $("#printerque").val("");
        $("#qty").val(qty);
        $("#qtyOfLabels").val(1);
        $("#origin").val(origin);
        $("#IncludeItemNo").val("Y");
        $("#dialog-deliverLA").dialog("open");
    })


    function saveOrderRowText(textrow) {
        var options = {};
        var current = "#" + this.id;
        options.url = "/Transport/UpdateFreightTextRows";
        options.type = "POST";
        options.data = { onr: $("#textRowNo-" + textrow).attr("data-order"), rowNo: $("#textRowNo-" + textrow).attr("data-row"), textRowNo: $("#textRowNo-" + textrow).attr("data-textrow"), text: $("#textRowNo-" + textrow).val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data) {
            if (data.startsWith("OK")) {

                $("#dialog-OK").dialog("open");

            }
            else {
                $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while executing delivery!");
        };
        $.ajax(options);
    }

</script>