﻿@model List<GDN.Models.GoodsViewModel>

@{
    /**/

    /**/

    ViewBag.Title = "Index";
}

<div class="logistics-page-header">
    <h2>Confirm delivery</h2>
</div>

<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Action</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse action-list" id="action-list">
            <form method="post" id="searchForm">
                <input type="text" class="form-control" style="margin:10px;width:150px" name="fsno" aria-describedby="fsnrHelp" placeholder="Search delivernote" onfocusout="submitGetDeliverNote()">
                <small id="emailHelp" class="form-text text-muted"></small>
            </form>
        </div>
    </div>
</nav>

<div class="container" style="margin-top:30px;">
    @if (Model != null)
    {
    <form action="~/Goods/SubmitDeliver">
        <div class="panel panel-default" style="margin-top:50px;">
            <div class="panel-heading"><h4>Delivery details</h4></div>
            <div class="panel-body" style="margin:15px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Delivernote</th>
                            <th scope="col">Order</th>
                            <th scope="col">Goods items</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GDN.Models.GoodsViewModel gvm in Model)
                        {
                            <tr>
                                <td>@gvm.DeliverNoteNo</td>
                                <td>@gvm.OrderNo</td>
                                <td>@gvm.PackageCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <input class="btn logistics-btn-action" type="submit" value="Confirm delivery" />
        <a asp-action="ClearSession" asp-controller="Goods" class="btn logistics-btn-action align-content-end">Cancel</a>
    </form>
    }
</div>


<script>
    function submitGetDeliverNote() {
        document.getElementById("searchForm").submit();
    }
</script>