﻿@model IEnumerable<Babc_logistic_core.GIS.DTO.PurchaseOrderHead>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div id="search-customer" class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline" method="post">
            @*<select name="search_type">
                <option @(ViewBag.search_type == "Datum" ? "selected" : "")>Datum</option>
                <option @(ViewBag.search_type == "Kund" ? "selected" : "")>Leverantör</option>
                <option @(ViewBag.search_type == "Säljarkod" ? "selected" : "")>Säljarkod</option>
            </select>*@
            <input name="search_value" type="datetime" value="@ViewBag.search_value" />
            <button type="submit" class="btn btn-primary btn-xs">Sök</button>
        </form>
    </div>
</div>


<p>
    <span class="btn btn-lg">@Html.ActionLink("Create New", "Create")</span> 
</p>

<table class="table">
    <tr>
        <th>
            Id
        </th>
       <th>
            Leverantörsnr
        </th>
        <th>
            Leverantör
        </th>
        <th>
            Levererat värde
        </th>
        <th>
            Ej Levererat
        </th>
        
    </tr>

@if(Model != null)
{ 
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @item.DeliveredValue
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotDeliveredValue)
            </td>
            <td>
                <a class="btn btn-primary tip" href="/Purchase/Edit/@item.OrderNo" data-toggle="tooltip" data-placement="right" data-original-title="Editera order"><span class="glyphicon glyphicon-ok"></span></a>
            </td>
        </tr>
    }
}

</table>


