﻿@model Babc_logistic_core.Models.PurchaseListVM

@{
    ViewBag.Title = Babc_logistic_core.Language.Resources.PurchaseMenu;
}


    <div class="logistics-page-header">
        <h1>@Babc_logistic_core.Language.Resources.PurchaseMenu</h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Filter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="action-list">
                <form class="d-flex" asp-action="Details">
                    <input class="form-control me-2" type="search" name="id" placeholder="Sök order" aria-label="Search">
                    <button class="btn btn-dark" style="margin-left:5px" type="submit">Sök</button>
                </form>
            </div>
        </div>
    </nav>

    <table id="table" class="table logistics-table">
        <thead>
            <tr style="cursor: pointer">

                <th>
                    <h4> @Babc_logistic_core.Language.Resources.OrderNo</h4>
                </th>
                <th>
                    <h4> @Babc_logistic_core.Language.Resources.SupplierName</h4>
                </th>
                <th>
                    <h5> @Babc_logistic_core.Language.Resources.DeliveryTerms</h5>
                </th>
                <th>
                    <h5> @Babc_logistic_core.Language.Resources.DeliveryDate</h5>
                </th>
                <th>
                    <h4> @Babc_logistic_core.Language.Resources.Info</h4>
                </th>
                <th style="text-align:center;"><h4>@Babc_logistic_core.Language.Resources.Rows</h4></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @if (Model != null)
        {
            foreach (var item in Model.OrderHeads)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.DeliverTerms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreferedDeliverDate)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.CountryCode))
                        {
                            <span class="label label-info">@item.CountryCode</span>}
                        @if (item.ConnectedOrder)
                        {
                            <span class="label label-warning"><span class="glyphicon glyphicon-link"></span></span>}
                    </td>
                    <td style="text-align:center;">
                        @item.OrderRows.Count.ToString()
                    </td>
                    <td style="text-align:center;"></td>
                    <td align="right">
                        <form class="navbar-form navbar-left pull-right" action="Details" role="search" method="post">
                            <input type="hidden" name="id" value="@item.OrderNo" />
                            <button type="submit" class="btn logistics-btn-action">Details</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>

    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
        })));

        if (!Modernizr.inputtypes.date) {
            $("#dateFrom").datepicker(
                { format: "yy-mm-dd" }
            );

            $("#dateTo").datepicker(
                { format: "yy-mm-dd" }
            );
        }

                    //$("#pg-bar").hide();
                    //$(document).ready(function () {
                    //    $("#picklistTable").tablesorter();


    </script>

