﻿@model Babc_logistic_core.Database.InventorySet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="logistics-page-header">
    <h1>Create Inventory set</h1>
    <h5>Create inventory set that binds LocationID in Garp with a fysical location (as Mora, Denmark, England etc)</h5>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="WarehouseNo" class="control-label"></label>
                <input asp-for="WarehouseNo" class="form-control" />
                <span asp-validation-for="WarehouseNo" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn logistics-btn-action" />
                <a asp-action="Index" class="btn logistics-btn-back">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
