﻿@model Babc_logistic_core.Database.InventorySet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="logistics-page-header">
    <h1>Delete</h1>
    <h5>Are you sure you want to delete this?</h5>
</div>


<div style="margin-top:30px">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn logistics-btn-action" /> 
        <a asp-action="Index" class="btn logistics-btn-back">Back to List</a>
    </form>
</div>
