﻿@model IEnumerable<Babc_logistic_core.Database.InventorySet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="logistics-page-header">
    <h1>Inventory sets</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="action-list">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-action="Create" class="nav-link active">Create New</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table logistics-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Edit" class="btn logistics-btn-edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Delete" class="btn logistics-btn-delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
