﻿@{
    ViewData["Title"] = "Logistics";
}

<style>
    #logo
    {
        width:300px;
        height:100px;
        

    }

</style>

<div class="text-center">
    <img src="~/images/Mafi.png" id="logo"/>
</div>


