﻿@using Babc_logistic_core.Models;
@using Babc_logistic_core.ViewComponents;
@using Babc_logistic_core.GIS.DTO;

@model MaterialOrderRowSliceModel

@{
    var rowClass = "";
    var rowStyle = "";

    // Dett rigth background colour depending on DeliverState on row
    if (Model.DeliverState == "5")
    {
        rowClass = "logistics-delivered-row";
    }
    else if (Model.DeliverState == "4")
    {
        rowClass = "logistics-part-delivered-row";
    }
}

<tr id="row-@Model.RowNo-@Model.MaterialRowNo" class="@rowClass">

    <!-- Row -->
    <td>
        @Model.MaterialRowNo
    </td>

    <!-- Productno -->
    <td>
        <input type="hidden" name="orderno" value="@Model.OrderNo" />
        <input type="hidden" name="rowno" value="@Model.RowNo" />
        <input type="hidden" name="state" value="@Model.DeliverState" />

        @Html.DisplayFor(modelItem => Model.ProductNo)

        <!-- This is fore scanning functions to find scanned productno and correct row assosiated to this product -->
        <input type="hidden" name="ProductNo" data-order="@Model.OrderNo" data-state="0" data-row="@Model.RowNo" class="productno" value="@Model.ProductNo" />
    </td>

    <!-- Description -->
    <td>
        <div>
            @Model.Description
        </div>
        @if (Model.TextRows != null)
        {
            foreach (Babc_logistic_core.GIS.DTO.OrderRowText t in Model.TextRows)
            {
                <div style="font-style:italic;color:gray;">
                    @t.Text
                </div>
            }
        }
    </td>

    <!-- Date -->
    <td>
        <div>
            @Model.DeliverDate
        </div>
    </td>

    <!-- KIT -->
    <td>
        @(@Model.Amount / Model.ManufacturedAmount)
    </td>

    <!-- Amount -->
    <td>
        <input type="number" min="0" max="50" step="any" id="deliver-amount-row-@Model.RowNo-@Model.MaterialRowNo" data-remaining-amount="@Model.AmountRemaining" name="amount" style="color:black;" class="form-control input-amount-pickorder" value="@Model.AmountRemaining" />
    </td>

    <!-- Warehouselist -->
    <td>
        @await Component.InvokeAsync("ExtendedWarehouseList", new { productno = Model.ProductNo, id = Model.RowNo.ToString() + "-" + Model.MaterialRowNo.ToString(), warehouseno = Model.WarehouseNo })

    </td>

    <!-- Back deliver button -->
    <td>
        @if (Model.ShowBackButton)
        {
            <button id="btn-back-@Model.RowNo-@Model.MaterialRowNo" data-order="@Model.OrderNo" data-state="0" data-row="@Model.RowNo" data-materialrow="@Model.MaterialRowNo" class="btn logistics-btn-back btn-back-row btn-prog">Back</button>
        }
    </td>

    <!-- Full deliver button -->
    <td>
        @if (Model.ShowDeliverButton)
        {
            <button id="btn-deliver-full-@Model.RowNo-@Model.MaterialRowNo" style="float:right;margin-left:5px" data-order="@Model.OrderNo" data-row="@Model.RowNo" data-materialrow="@Model.MaterialRowNo" data-check-stock="@Model.CheckStock" class="btn logistics-btn-action btn-deliver-row">Deliver</button>
        }
    </td>

    <!-- Force full deliver -->
    @*<td>
            @if (Model.ShowDeliverButton)
            {
                <input id="force-final-deliver-@Model.RowNo-@Model.MaterialRowNo" class="form-check-input" type="checkbox" value="" style="width:33px; height:33px;margin-left:5px" />
            }
        </td>*@

<tr />
