﻿@model Babc_logistic_core.Models.MaterialPickVM



@if (Model.Label != null)
{
    <input type="hidden" id="man-product" value="@Model.Label.ProductNoBeingManufactured" />
}
else
{
    <input type="hidden" id="man-product" value="" />
}

<input type="hidden" value="@Model.Message" id="message" />
<input type="hidden" value="@Model.MessageHeader" id="messageheader" />
@*<script>
    if ($("#man-product").val() != "") {
        $("#label-productno").val($("#man-product").val());
        $("#man-product").val(null);
        $("#dialog-form1").dialog("open");
    }

</script>*@
<table class="table logistics-table" id="orderrows" cellpadding="0">
    <thead>
        <tr>
            <th>
                <h4>@Babc_logistic_core.Language.Resources.Product</h4>
            </th>
            <th>
                <h4>@Babc_logistic_core.Language.Resources.Operation</h4>
            </th>
            <th>
                <h4>@Babc_logistic_core.Language.Resources.Material</h4>
            </th>
            <th>
                <h4>@Babc_logistic_core.Language.Resources.Details</h4>
            </th>
            <th>
                <h4>@Babc_logistic_core.Language.Resources.Amount</h4>
            </th>
            <th>
                <!-- Material deliver button -->
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OH.MaterialRows != null)
        {

            foreach (var item in Model.OH.MaterialRows)
            {
                bool fullDeliver = item.ReservationCode.CompareTo("5") == 0 ? true : false;

                string rowStyle = "";

                if (fullDeliver)
                {
                    rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);color:GrayText;";
                }

                <tr style="@rowStyle">

                    <td>
                        @item.ProductNo
                    </td>
                    <td>
                        @item.OperationNo
                    </td>
                    <td>
                        @item.ProductDescription
                    </td>
                    <td>
                        @item.ProductDescription2
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @*<form method="post" action="/Production/PickMaterial">
                            <button id="btn-deliver-full-@item.RowNo" style="float:right;margin-left:5px" asp-route-onr="@item.OrderNo" asp-route-row="@item.RowNo" asp-route-materialrow="@item.MaterialRowNo" type="submit" class="btn logistics-btn-action">Deliver</button>
                        </form>*@
                    </td>
                    <td>
                        @if (item.DeliverState == "5")
                        {
                            <form method="post" action="/Production/BackMaterial">

                                <input type="hidden" name="onr" value="@Model.OH.OrderNo" />
                                <input type="hidden" name="row" value="@Model.OH.RowNo" />
                                <input type="hidden" name="matrow" value="@item.MaterialRowNo" />
                            </form>
                            <div id="back-buttons-@item.RowNo" class="btn-group pull-right" style="display: block">
                                <a id="btn-back-@item.MaterialRowNo" data-onr="@item.OrderNo" data-row="@item.RowNo" data-matrow="@item.MaterialRowNo" class="btn btn-danger btn-back-row btn-prog" onclick="backFuntion(this.id)">@Babc_logistic_core.Language.Resources.Back</a>
                            </div>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>




