﻿@model IEnumerable<Babc_logistic_core.Models.MaterialPickVM>

@{
    ViewBag.Title = "Order";
}

<div class="logistics-page-header">
    <h1>Materialorder List</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Action</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @*<div class="navbar-collapse collapse dual-collapse2 action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="Picklist" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Back</a>
                </li>
            </ul>
        </div>*@
    </div>
</nav>

<table id="table" class="table logistics-table">
    
        <tr style="cursor: pointer">
            <th class="header">
                Order - row
            </th>
            <th>
                Customer
            </th>
            <th>
                Deliverdate
            </th>
            <th>
                Product
            </th>
            <th>
                Amount
            </th>
            <th>
                State
            </th>
            <th>
                Materialrow count
            </th>
            <th></th>
        </tr>
    
    
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OH.OrderNo - @item.OH.RowNo
                    </td>
                    <td>
                        <div>@Html.DisplayFor(modelItem => item.OH.CustomerName)</div>
                    </td>
                    <td>
                        @item.OrderRowDeliverDate
                    </td>
                    <td>
                        @item.OH.ProductNo - @item.OH.ProductDescription
                    </td>
                    <td>
                        @item.ManufacturedAmount
                    </td>
                    <td>
                        @item.OH.MaterialPlanState
                    </td>
                    <td>
                        @item.MaterialRowList?.Count
                    </td>
                    <td>
                        <form role="search" method="post">
                            <button type="submit" asp-action="MaterialList" asp-route-onr="@item.OH.OrderNo" asp-route-row="@item.OH.RowNo" asp-route-sign="@ViewBag.sign" asp-route-isFutureOrder="@ViewBag.isFutureOrder" class="btn btn-dark">Pick</button>
                        </form>
                    </td>
                </tr>
            }
        }
    

</table>
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    // do the work...
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => table.appendChild(tr));
    })));

    if (!Modernizr.inputtypes.date) {
        $("#dateFrom").datepicker(
            { format: "yy-mm-dd" }
        );

        $("#dateTo").datepicker(
            { format: "yy-mm-dd" }
        );
    }




</script>
@*<script>
    //if (!Modernizr.inputtypes.date) {
    //    $("#dateFrom").datepicker(
    //        { format: "yy-mm-dd" }
    //    );

    //    $("#dateTo").datepicker(
    //        { format: "yy-mm-dd" }
    //    );
    //}

    //$("#pg-bar").hide();

    //$(document).ready(function () {
    //    $("#tbl-material-list").tablesorter();
    //});

</script>*@

