@model Babc_logistic_core.Models.MaterialPickVM

@{
    ViewBag.Title = "Details";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=-100%" />

<div class="logistics-page-header">
    <h2>Pick order</h2>
    <table style="width:100%">
        <tr>
            <td><b>OrderNo:</b><span style="margin-left:10px;font-size:larger">@Model.OH.OrderNo - @Model.OH.RowNo</span></td>
            <td><b>Product:</b><span style="margin-left:10px;font-size:larger">@Model.OH.ProductNo - @Model.OH.ProductDescription</span></td>
            <td><b>Customer:</b><span style="margin-left:10px;font-size:larger">@Model.OH.CustomerNo - @Model.OH.CustomerName</span></td>
            <td><b>Remaining amount:</b><span style="margin-left:10px;font-size:larger">@Model.ManufacturedAmount</span></td>
        </tr>
        <tr>
        </tr>
    </table>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark logistics-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse action-list">
            <ul class="navbar-nav" style="width:100%">
                <li class="nav-item" style="width:100%">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-5" style="width:auto">
                                    <input id="btn-print" type="submit" class="nav-link active btn btn-outline-dark logistics-btn-outlined" value="Print del.note" />
                                </div>
                                <div class="col" style="margin-top: 6px;">
                                    <input type="hidden" id="print-onr" name="onr" value="@Model.OH.OrderNo" />
                                    <input type="hidden" id="print-row" name="row" value="@Model.OH.RowNo" />
                                    <input type="hidden" id="pallets-card" name="pallets_card" value="false" />
                                    <input type="checkbox" id="print-card" />
                                    <label for="print-card" style="color:white">Pallet Card</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <input id="btn-print-material-spec" type="submit" class="nav-link active btn btn-outline-dark logistics-btn-outlined" value="Print Mat.spec" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-collapse collapse dual-collapse2 action-list">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a asp-controller="Order" asp-route-id="@Model.OH.OrderNo" asp-route-sign="@ViewBag.sign" asp-route-isFutureOrder="@ViewBag.isFutureOrder" asp-route-force="true" asp-action="Pickorder"  class="nav-link active btn btn-outline-dark logistics-btn-outlined">Order</a>
            </li>
            <li class="nav-item">
                <a asp-action="MaterialOrderPickList" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Materialist</a>
            </li>
        </ul>
    </div>
</nav>

@{
    //int idx = 0;

    <div class="panel panel-default" id="order-list" style="margin-bottom:60px;">
            <input type="hidden" id="currentFilter" value="all" />
            <div class="panel-body panel-header-body-pickorder">
                <table class="table table-responsive-md">
                    <tr>
                        <th>
                            <h5>Row</h5>
                        </th>
                        <th>
                            <h5>Product</h5>
                        </th>
                        <th>
                            <h5>Description</h5>
                        </th>
                        <th>
                            <h5>Date</h5>
                        </th>
                        <th>
                            <h5>Kit qty</h5>
                        </th>
                        <th>
                            <h5>Amount</h5>
                        </th>
                        <th>
                            <h5>Place</h5>
                        </th>
                        <th>
                            @* Back button  *@
                        </th>
                        <th>
                            @* Deliver  *@
                        </th>
                        @*<th>
                            Final deliver
                        </th>*@
                    </tr>

                    @foreach (var item in Model.MaterialRowList)
                {
                        @await Component.InvokeAsync("MaterialOrderRowSlice", new { or = item, amount = Model.OH.Amount, warehouse = Model.ManufacturedWarehouse })
                }

                </table>
            </div>
    </div>

}
<div class="modal" tabindex="-1" role="dialog" id="message">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="message-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="message-body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn logistics-btn-action" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="deliverAlert" class="alert alert-danger" hidden="hidden">
    <button type="button" class="close" data-hide="alert">&times;</button>
    <strong>Leverans Misslyckades! </strong><span id="deliverMsg"></span>
</div>

<script>
    $(document).ready(function () {
        $('#print-card').change(function () {
            if (this.checked) {
                $("#pallets-card").val("true");
            }
            else {
                $("#pallets-card").val("false");
            }

        });
        const urlParams = new URLSearchParams(window.location.search);
        const sign = urlParams.get('sign');
        const isFutureOrder = urlParams.get('isFutureOrder');
        document.getElementById("sign").innerHTML = sign;
        document.getElementById("isFutureOrder").innerHTML = isFutureOrder;


        $("#btn-print").click(function () {
            $.ajax({
                url: "@Url.Action("PrintDeliverNote","Production")",
                type: "POST",
                data: { onr: $('#print-onr').val(), row: $('#print-row').val(), pallets_card: $('#pallets-card').val() },
                success: function (data) {
                    alert("Printing done")
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            }); // AJAX Get Jquery statment
        }); // Click effect

        $("#btn-print-material-spec").click(function () {
            $.ajax({
                url: "@Url.Action("PrintMaterialSpecification", "Production")",
                type: "POST",
                data: { onr: $('#print-onr').val(), row: $('#print-row').val() },
                success: function (data) {
                    alert("Printing done")
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            }); // AJAX Get Jquery statment
        }); // Click effect
    });

    $(document).on('click', '.btn-deliver-row', {}, function (e) {
        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");
        var materialrow = $("#" + current).attr("data-materialrow");
        var warehouse = $("#warehouseno-" + row + "-" + materialrow).val();
        var amount = $("#deliver-amount-row-" + row + "-" + materialrow).val();
        var reamining_amount = $("#deliver-amount-row-" + row + "-" + materialrow).data("remaining-amount");
        var warehouseStock = $("#warehouseno-stock-" + row + "-" + materialrow).val()
        var state = "";
        var doDeliver = true;

        // Prevent overdeliver of row
        if (parseFloat(reamining_amount) < parseFloat(amount)) {
            doDeliver = false;
            $("#message-title").text("Overdeliver is prohibited!");
            $("#message-body").text("Remaining amount is " + reamining_amount + " and you want to deliver " + amount);
            $("#message").modal();
            return;
        }

        if ($("#force-final-deliver-" + row).prop("checked") == true) {
            state = "5";
        }

        if (warehouse == "") {
            doDeliver = false;
            alert("This row has no selected warehouse, delivery is not possible!")
            return;
        }
        else {
            if ((state == "5")) {
                if (confirm("Vill du verkligen slutleverera denna rad?") == false) {
                    doDeliver = false;
                }
            }
        }

        // If we should check stock (product with no stock update type is not chekced)
        if ($("#" + current).attr("data-check-stock") == "True") {
            if (parseFloat(warehouseStock) < parseFloat(amount)) {
                doDeliver = false;
                //alert("The amount is larger than stock in the warehouse!")
                $("#message-title").text("Not enough stock!");
                $("#message-body").text("Batch " + warehouse + " don't have " + amount + " in stock!");
                $("#message").modal();
                return;
            }
        }

        //alert(current);
        //alert(materialrow);
        //alert(amount);

        //doDeliver = false;
        if (doDeliver == true) {
            show_spinner($('#order-list'), 2, "bounce");

            var options = {};
            options.url = "/Production/PickMaterial";
            options.type = "POST";
            options.data = { onr: order, row: row, materialrow: materialrow, amount: amount, state: state, warehouse: warehouse };
            options.dataType = "text";
            //options.contentType = "application/json";
            options.success = function (data) {
                if (!data.startsWith("#")) {
                    $("#row-" + row + "-" + materialrow).replaceWith(data);
                }
                else {
                    alert("Error code: " + data);
                    $("#deliverMsg").text(data);
                    $("#deliverAlert").show();
                }

                hide_spinner($("#order-list"));

                return false;
            };

            options.error = function () {
                hide_spinner($("#order-list"));
                alert("Error while executing delivery!");
            };
            $.ajax(options);
        }


        return false;
    })

    $(document).on('click', '.btn-back-row', {}, function (e) {
        show_spinner($('#order-list'), 2, "bounce");

        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");
        var materialrow = $("#" + current).attr("data-materialrow");
        var warehouse = $("#warehouseno-" + row + "-" + materialrow).val();
        var options = {};
        options.url = "/Production/BackMaterial";

        //string onr, string row, string matrow, string opn


        options.type = "POST";
        options.data = { onr: order, row: row, matrow: materialrow, warehouse: warehouse, opn: "" };
        options.dataType = "text";
        options.success = function (data) {
            if (!data.startsWith("#")) {
                $("#row-" + row + "-" + materialrow).replaceWith(data);
            }
            else {
                $("#deliverMsg").text(states);
                $("#deliverAlert").show();
            }

            hide_spinner($("#order-list"));

            return false;
        };
        options.error = function () {
            hide_spinner($('#order-list'));
            alert("Error while backing delivery!");
        };
        $.ajax(options);
    });



    // *** Scanning functions ****
    $('.input-search-sku').keypress(function (e) {
        console.log("hit");
        if (e.which != 13) {
            return true;
        }

        var productRow = $('.productno').filter(function () {
            return this.value == $("#productno").val();
        }).first();

        console.log(productRow);

        if (productRow != null) {
            var productno = $("#productno").val();
            var order = productRow.data("order");
            var row = productRow.data("row");
            var amount = $("#deliver-amount-row-" + productRow.data("row")).val()
            var warehouseStock = $("#warehouseno-stock-" + productRow.data("row")).val()
            var warehouseno = $("#warehouseno-" + productRow.data("row")).val();
            var state = "";

            var doDeliver = true;

            if (warehouseno == "") {
                doDeliver = false;
                alert("This row has no selected warehouse, delivery is not possible!")
            }

            if (parseFloat(warehouseStock) < parseFloat(amount)) {
                doDeliver = false;
                alert("The amount is larger than stock in the warehouse!")
                return;
            }

            if (amount == "") {
                doDeliver = false;
                alert("Amount is missing!")
            }
            else {
                if (parseFloat(amount) == 0) {
                    doDeliver = false;
                    alert("Can't deliver " + amount + " amount!")
                }
            }

            //doDeliver = false;
            if (doDeliver == true) {
                show_spinner($('#order-list'), 2, "bounce");

                var options = {};
                options.url = "/Order/DeliverOrderRow";
                options.type = "POST";
                options.data = { order: order, row: row, state: state, amount: amount, warehouseno: warehouseno };
                options.dataType = "text";
                //options.contentType = "application/json";
                options.success = function (data) {
                    if (!data.startsWith("FAILED")) {
                        $("#row-" + row).replaceWith(data);
                    }
                    else {
                        $("#deliverMsg").text(states);
                        $("#deliverAlert").show();
                    }

                    $("#productno").val("");
                    hide_spinner($("#order-list"));

                    return false;
                };

                options.error = function () {
                    hide_spinner($("#order-list"));
                    alert("Error while executing delivery!");
                };
                $.ajax(options);

            }
        }

        return false;
    });

    $(function () {
        $("[data-hide]").on("click", function () {
            $(this).closest("." + $(this).attr("data-hide")).hide();
        });
    });

    function changeSumForRow(row, sumId) {
        var sum = 0;
        var inputValues = $('.' + row).map(function () {
            return $(this).val();
        }).toArray();
        for (var i = 0; i < inputValues.length; i++) {
            if (Number(inputValues[i])) {
                sum = +sum + +inputValues[i];
            }
        }
        $('#' + sumId).text(sum);
        changeTotalSum();
    }


    function changeTotalSum() {
        var sum = 0;
        var inputValues = $('.sumUpdates').map(function () {
            return $(this).val();
        }).toArray();
        for (var i = 0; i < inputValues.length; i++) {
            var splitted = inputValues[i].split(":");

            if (Number($('#' + splitted[1]).text())) {
                sum = +sum + +$('#' + splitted[1]).text();
            }
        }
        $('#sumTotal').text(sum);
    }

    $('#btn-new-row').click(function () {
        $(this).hide();
        $('#div-add-row').css("display", "block")

        return false;
    });

    $('#btn-add-row').click(function () {
        window.localStorage.setItem('scroll', 'true');
    });

    $('#btn-add-row-cancel').click(function () {
        $('#btn-new-row').show();
        $('#div-add-row').css("display", "none")
    });
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>



















