﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.container {
    max-width: 1500px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* LOGISTIC STYLES 
--------------------------------------------------- */

.logistics-navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px 5px;
}

.logistics-badge-country {
    background-color: #002b80;
    color: white
}

.logistics-prio-row {
    background-color: #cc0000;
    color: white
}

.logistics-offert {
    background-color: lightblue;
    color: white
}

.logistics-part-delivered-row {
    background-color: #80bb81;
    color: white
}

.logistics-delivered-row {
    background-color: #3d6b46;
    color: white
}

.logistics-page-header {
    border-color: grey;
    border-radius: 5px 5px;
    padding: 10px;
    background-color: #343a40;
    color: white
}

/* ---- BUTTONS ---- */

.logistics-btn-back {
    background-color: #a34c4c !important;
    border-color: #a34c4c !important;
    color: white !important;
}

.logistics-btn-delete {
    background-color: #8e1823 !important;
    border-color: #8e1823 !important;
    color: white !important;
}

.logistics-btn-planned {
    background-color: #ebad22 !important;
    border-color: #ebad22 !important;
    color: white !important;
}


.logistics-btn-edit {
    background-color: #094a94 !important;
    border-color: #094a94 !important;
    color: white !important;
}

.logistics-btn-action {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: white !important;
}

.logistics-btn-outlined{
    border-color: grey !important;
    margin-right:5px;
}
/* ---- TABLE ---- */

.logistics-table{
    margin: 10px 0px;
    margin-bottom: 40px !important;
    table-layout: fixed;
    
}


    .logistics-table th {
        background-color: white;
        border-top-color: white;
    }

    .logistics-table tr:nth-child(Even) {
        background: #E7E8EC;
    }
    /*----Hide closebutton on Ui-boxes----- */
   .no-close button.ui-dialog-titlebar-close {
    display: none;
    border-color:chartreuse;
       
    }

.LocationList {
    margin: 10px 0px;
    margin-bottom: 40px !important;
}

    .LocationList th {
        background-color: white;
        border-top-color: white;
    }

    .LocationList tr:nth-child(Even) {
        background: #E7E8EC;
    }


.table-wrapper {
    max-height: 650px; /* Set the desired maximum height for the table */
    overflow-y: auto;  Enable vertical scrolling 
}

.LocationList thead {
    position: sticky;
    top: 40px;
    background-color: #fff; /* Set the desired background color for the sticky header */
}