﻿@model Babc_logistic_core.Models.MaterialPickVM

@{
   
}





<table class="table logistics-table">
    <tr>
        <th>
            <h5>Material-Row</h5>
        </th>
        <th>
            <h5>Product</h5>
        </th>

        <th>
            <h5>Amount</h5>
        </th>
        <th>
            <h5>Info</h5>
        </th>
        <th>
            <h5>Available</h5>
        </th>
        <th><H5>Info</H5></th>



    </tr>


    @foreach (var item in Model.MaterialRowList)
    {
        //                string rowClass = "", inputStyle = "";

        bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;
        bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
        bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;

        decimal? missingAmount = 0;

        string rowStyle = "";

        if (item.Amount - item.DeliveredAmount - item.ExtraAmount < 0)
        {
     
            
        }
        else
        {
            missingAmount = (item.Amount) - (item.ExtraAmount) - (item.DeliveredAmount);
        }
        if (fullDeliver)
        {
            rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
        }
        else if(partDeliver)
        {
            rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
        }

        <tr style="@rowStyle" id="row-@item.MaterialRowNo">


            <td>
                @Html.DisplayFor(modelItem => item.MaterialRowNo)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProductNo)
            </td>



            <td>
                @if (!fullDeliver)
                {
                    <span><b>@(item.Amount - item.DeliveredAmount) </b></span>
                }
                else
                {
                    <span> Klar </span>
                }

            </td>
            <td>
                @if (missingAmount > 0)
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-danger">@missingAmount</span><br>
                }
               
                @if (!item.PreferedDeliverDate.Equals("") && (!item.PreferedDeliverDate.Equals(Model.OrderRowDeliverDate)))
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-warning">Lev.dat: @item.PreferedDeliverDate</span>
                }
            </td>


            <td>
                <span> @item.ExtraAmount </span>
            </td>
            <td>
                @if (item.PickListState=="N")
                {
                    <span class="badge badge-warning">Shortfall</span>
                }
            </td>


        </tr>

    }
</table>


