﻿@model Babc_logistic_core.Models.OrderViewVM

@{
    ViewData["Title"] = "ProductionOverView";
    Layout = "~/Views/Shared/_LayoutOverView.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

 <div class="logistics-page-header">
    <h2>Production Overview</h2>
</div>

    @*<div class="toast" role="alert" id="inventory-message" style="margin-top:20px" aria-live="polite" data-delay="1000" data-autohide="true" data-animation="true" aria-atomic="true">
        <div class="toast-header">
        <img src="~/Img/lightbulb.png" width="20" height="20" class="rounded mr-2" alt="...">
        <strong class="mr-auto">Inventering utförd</strong>
        <small>Just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        <span id="message">Plocklista utskriven</span>
        </div>
        </div>*@

    <table id="table" class="table logistics-table-overview">
        <thead>
            <tr>
                <th style="cursor:pointer" onclick="sortTable(7)">
                    Orderrad
                </th>
                <th style="cursor:pointer" onclick="sortTable(2)">
                    Kundnr
                </th>
                <th style="cursor:pointer;" onclick="sortTable(1)">
                    Namn
                </th>
                <th style="cursor:pointer" onclick="sortTable(4)">
                    Artnr
                </th>
                <th>
                    Benämning
                </th>
                <th>
                   Levtid
                </th>
                <th style="cursor:pointer" onclick="sortTable(5)">
                    Antal
                </th>
            </tr>
        </thead>
        <tbody id="fbody">
            @foreach (var item in Model.Orderrows)
            {
                <tr data-order="@item.OrderNo" data-row="@item.RowNo" class="detail-click">
                    <td class="">
                        @item.OrderNo.Trim() - @item.RowNo.ToString().Trim()
                    </td>
                    <td class="">
                        @item.CustomerNo
                    </td>
                    <td class="" style="max-width:60px">
                        @item.CustomerName
                    </td>
                    <td class="">
                        @item.ProductNo
                    </td>
                    <td class="">
                        @item.ProductDescription
                    </td>
                    <td>
                    @item.DeliverDate
                    </td>
                    <td class="">
                        @item.Amount
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>




    <div id="partialModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal-title" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
             $(document).ready(function() {

        $("#partialModal").on('hide.bs.modal', function () {
            const myTimeout = setTimeout(function () {
                location.reload();
            }, 6000);
            });
        });

        $(function () {
            $(".detail-click").click(function () {
                var orderNo = $(this).data("order");
                var rowNo = $(this).data("row");
                clearTimeout(myTimeout);
                document.getElementById('modal-title').innerHTML = 'Order Details ' + orderNo + ' - ' + rowNo + '';
                $.ajax({
                    type: "POST",
                    url: "/ProductionOverview/ProductionDetails",
                    data: { "id": orderNo, "row": rowNo },
                    success: function (response) {
                        $("#partialModal").find(".modal-body").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });


        
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).find(".searchable").text().toLowerCase().indexOf(value) > -1)
                });
            });

            $(".print").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/OrderView/PrintPicklist',
                    data: { id: $(this).data("id"),  },
                    success: function (result) {
                        alert(result);
                        //$('#inventory-message').toast('show');
                    }
                });
            });
        });

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
       const myTimeout = setTimeout(function () {
        location.reload();
        }, 6000); // 5000 milliseconds means 5 seconds.

    </script>

</body>
