﻿@using Babc_logistic_core.Models;
@using Babc_logistic_core.ViewComponents;

@model ExtendedWarehouseListModel
@{
    string bgcolor = "";
    string selectedbgcolor = "";
    string title = "";
}

<div class="dropdown">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-@Model.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @if (Model.SelectedWarehouse != null) 
        { 

        <span id="labeldropdown" >@Model.SelectedWarehouse?.Id - @Model.SelectedWarehouse?.Location - @Model.SelectedWarehouse?.Amount</span>
        }
        else
        {
            <span>** No warehouse with stock found **</span>
        }
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-@Model.Id">
        @foreach (Babc_logistic_core.Models.CompactWarehouse wh in Model.WarehouseList)
        {
            if (!string.IsNullOrEmpty(wh.Location))
            {
                @if (wh.SaleableCode == "z")
                {
                    bgcolor = "background-color:red";
                    title = "This warehouse is currently blocked from any transactions.";
                }
                else
                {
                    bgcolor = "";
                    title = "";
                }
                <a class="dropdown-item" title="@title" style="@bgcolor" data-id="@Model.Id" data-location="@wh.Location" data-amount="@wh.Amount" data-warehouseno="@wh.Id"><b>@wh.Id - @wh.Location - @wh.Zone </b> <i title ="@title" style="font-size:smaller;padding-left:10px;@bgcolor">( <b>Date:</b>  @wh.LastDateAsDate.ToString("yyyy-MM-dd"), <b>Amount:</b> @wh.Amount ) </i></a>
            }
        }
    </div>
</div>

<input type="hidden" id="warehouseno-@Model.Id" value="@Model.SelectedWarehouse?.Id" />
<input type="hidden" id="warehouseno-stock-@Model.Id" value="@Model.SelectedWarehouse?.Amount" />


<script>
    $(".dropdown-item").click(function () {
        var label = $(this).data('warehouseno') + " - " + $(this).data('location')
        $("#dropdownMenuButton-" + $(this).data("id")).html(label);
        
        // On change set the selected warehouseno
        $("#warehouseno-" + $(this).data("id")).val($(this).data('warehouseno'));

        // On change set amount from current warehoseno
        $("#warehouseno-stock-" + $(this).data("id")).val($(this).data('amount'));
        $("#dropdownMenuButton-" + $(this).data("id")).html(label);
        
    });
</script>