﻿@model IEnumerable<Babc_logistic_core.Models.InventoryDetail>


<div style="margin-top:30px;margin-bottom:10px">
    @Html.ActionLink("Summera lista på produkt", "SumInventory", "Inventory", new { @class = "btn btn-primary" })
</div>
<table class="table">
    <tr>
        <th>
            Artikel
        </th>
        <th>
            Lagernr
        </th>
        <th>
            Inventerat antal
        </th>
        <th>
            Datum
        </th>
        <th>
            Tidpunkt
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr class="@item.Note">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNo, new { @id = "productno" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <a id="@item.Note" class="delete">Delete</a><br>
                </td>
            </tr>
        }
    }
</table>

<script type='text/javascript'>
    $(function(){
          //When the blur event occurs from your Textbox (you lose focus)
        $(document).on('click', '.delete', function( e ){
            var id = this.id;
            $.ajax({
                url: "@Url.Action("Delete","Inventory")",
                data: { id: id },
                     dataType: "text",
                success: function (model) {
                    $("tr").remove("." + id);
                },
                error: function (result) {
                        alert("bad");
                }
              });
          });
    });

</script>