﻿@model Babc_logistic_core.Models.CreateInventorySetVM
@{
    ViewData["Title"] = "CreateInventorySet";
}

<h1>CreateInventorySet</h1>
<form asp-controller="Inventory" asp-action="CreateInventorySet" method="post" class="form-horizontal" role="form">
    <input asp-for="Description" />
    <input asp-for="WarehousNo" />
    <button type="submit">Create</button>
</form>
@*@using (Html.BeginForm("CreateInventorySet", "Inventory", null, FormMethod.Post, false, null))
{
    <div style="margin-top:30px;">
        <div class="form-group">
            <label>Lagernr</label>
            <input type="text" class="form-control" id="warehouseno" name="WarehousNo" tabindex="-1" placeholder="Lagernr" onsubmit="required()" value="">
        </div>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" id="Id" name="Id" tabindex="-1" placeholder="Lagernr" value="">
        </div>
        <div class="form-group">
            <label for="productno">Artikel</label>
            <input type="text" class="form-control" id="Description" name="Description" placeholder="">
        </div>
        <button type="submit" id="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>

    </div>
}*@

<div>
    @if (Model.Result != null)
    {
        <table class="table">
            <tr>
                <th>
                    Artikel
                </th>
                <th>
                    Lagernr
                </th>
                <th>
                    Inventerat antal
                </th>
                <th>
                    Datum
                </th>
                <th>
                    Tidpunkt
                </th>
                <th></th>
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model.Result?.InventoryList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNo, new { @id = "productno" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarehouseNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            <a class="delete">Delete</a><br>
                        </td>
                    </tr>
                }
            }
        </table>
    }


</div>

