﻿@model IEnumerable<Babc_logistic_core.GIS.DTO.InventoryResult>

@{
    ViewBag.Title = "ExecuteInventory";
}

<h2>Inventeringsresultat</h2>
<div style="margin-top:30px;margin-bottom:10px">
    @Html.ActionLink("Till startsidan", "OverView", "Inventory", new { @class = "btn btn-primary" })
</div>
<table class="table">
    <tr>
        <th>
            Artikel
        </th>
        <th>
            Lagernr
        </th>
        <th>
            Datum
        </th>
        <th>
            Tidpunkt
        </th>
        <th>
            Gammalt antal
        </th>
        <th>
            Inventerat antal
        </th>
        <th>
            Meddelande
        </th>
        <th>
            Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalMoveMessage)
            </td>
            <td>
                @if (item.Succeeded)
                {
                    <span class="badge bg-success">Success</span>
                }
                else
                {
                    <span class="badge bg-danger">Success</span>
                }

            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
