﻿@model Babc_logistic_core.Models.InventoryOverviewVM
@{
    ViewBag.Title = "OverView";
}

<h2>Inventering</h2>
<div style="background-color:lightgray" id="Border">
    <form asp-controller="Inventory" asp-action="Overview" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="row">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label asp-for="CurrentInventorySetId" class="control-label"></label>
                    <select asp-for="CurrentInventorySetId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.InventorySetList,"ID", "Description"))">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <input id="Submit1" type="submit" value="submit" />
                </div>
            </div>
        </div>
    </form>
    <form method="post">
        <button asp-controller="Inventory" asp-action="CreateInventorySet">Create new Set</button>
    </form>
</div>
<div id="inventory-header" class="input-group" style="width:200px">

    @using (Html.BeginForm("OverView", "Inventory", null, FormMethod.Post, false, new { @onsubmit = "return validateForm()", @name = "myForm" }))
    {
        <div class="">
            <div class="form-group">
                <label>Lagernummer</label>
                <input type="text" class="form-control" id="warehouse" name="Warehouse" tabindex="-1" placeholder="Lagernr" onsubmit="required()" value="@Model.Warehouse">
                <small id="warehouse-warning" class="form-text" style="color:red">@Model.Message</small>
            </div>
            <div class="form-group">
                <label for="productno">Artikel</label>
                <input type="text" class="form-control" id="productno" name="ProductNo" placeholder="Ange artikelnummer">
                <small id="product-description" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="amount">Antal</label>
                <input type="number" class="form-control" id="amount" name="Amount" placeholder="Antal">
            </div>
            <button type="submit" id="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>

        </div>
    }

    <a href="CreateInventorySet" class="btn btn-primary">Create</a>

    @*@using (Ajax.BeginForm("UpdateFilter", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp" }))
        {
            <form>
                <div class="form-group">
                    <label for="productno">Artikel</label>
                    <input type="text" class="form-control" id="productno" aria-describedby="emailHelp" placeholder="Ange artikelnummer">
                </div>
                <div class="form-group">
                    <label for="amount">Antal</label>
                    <input type="number" class="form-control" id="amount" placeholder="Antal">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        }*@
</div>
<div>
    @*@{

            Html.RenderPartial("_InventoryListView", Model == null ? null : Model.InventorySetList);
        }*@

</div>


<script type='text/javascript'>
    $(document).ready(function () {
        alert("");
        // Put focus on product field on load
        if ($('#warehouse').val() == "") {
            $('#warehouse').focus();
        }
        else {
            $('#productno').focus();
        }

        @*// Handle ajax event to check that product exist before moving on
        $('#productno').blur(function () {
            if ($('#productno').text != "") {
                $.ajax({
                    url: "@Url.Action("FindProduct","Inventory")",
                    data: {search: $('#productno').val()},
                    dataType: "json",
                    success: function (model) {
                        if (model.ProductNo != null) {
                            $('#product-description').text(model.Description);
                        }
                        else {
                            $('#product-description').text('Artikeln hittades ej!!');
                            $('#productno').focus();
                            $('#productno').val("");
                        }

                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }

        });*@
    });

    function validateForm() {
        var x = document.forms["myForm"]["Warehouse"].value;
        if (x == "") {
            alert("Lagernr måste anges");
            $('#warehouse').focus();
            return false;
        }
    }




</script>