﻿@model IEnumerable<Babc_logistic_core.Models.InventorySumVM>

@{
    ViewBag.Title = "Summerad inventering";
}


<h2>Summerad inventering per artikel</h2>

<p>
    <div style="margin-top:30px;margin-bottom:10px">
        @Html.ActionLink("Till startsidan", "OverView", "Inventory", new { @class = "btn btn-primary" })
        @Html.ActionLink("Genomför inventering", "ExecuteInventory", "Inventory", new { @class = "btn btn-primary" })
    </div>
</p>
<table class="table">
    <tr>
        <th>
            Artikelnr
        </th>
        <th>
            Lagernr
        </th>
        <th>
            Inventerat antal
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
