﻿@using Babc_logistic_core.GIS.DTO;
@using Babc_logistic_core.Models
@model Babc_logistic_core.GIS.DTO.OrderHead

<style>
    .grid-striped .row:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }
</style>

<div class="container grid-striped" style="font-size:medium">
    <div class="row" style="font-weight:bold;font-size:x-large">
        <div class="col-2">
            Row
        </div>
        <div class="col-2">
            Product
        </div>
        <div class="col-3">
            Description
        </div>
        <div class="col-1 text-center">
            Qty
        </div>
        <div class="col-2 text-center">
            Available 
        </div>
        <div class="col-1 text-center">
            Missing
        </div>
        <div class="col-1 text-right">
            Info
        </div>
    </div>

    @foreach (var item in Model.OrderRows)
    {
        bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
        bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
        decimal missingAmount = 0;
        //decimal missingAmountBadge = item.Product.Stock.Value - (item.Amount.Value - item.DeliveredAmount.Value);

        string rowStyle = "";

        if (((item.Amount - item.DeliveredAmount) > item.NX1.Value) && !(item.MDF.Equals("1") || item.MDF.Equals("2")))
        {
            missingAmount = item.AmountToDeliver.Value - (item.Amount.Value - item.DeliveredAmount.Value);
        }

        if (fullDeliver)
        {
            rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
        }
        else if (partDeliver)
        {
            rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
        }


        <div class="row" style="margin-top:10px; @rowStyle">
            @* **** Order - row **** *@
            <div class="col-2">
                @Html.DisplayFor(modelItem => item.OrderNo) - @Html.DisplayFor(modelItem => item.RowNo)
            </div>

            @* **** Product no **** *@
            <div class="col-2">
                @Html.DisplayFor(modelItem => item.ProductNo)
            </div>

            @* **** Product description **** *@
            <div class="col-3">
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </div>

            @* **** Quantity **** *@
            <div class="col-1 text-center">
                @if (!fullDeliver)
                {
                    <span><b>@(item.Amount - item.DeliveredAmount) </b></span>
                }
                else
                {
                    <span> Klar </span>
                }
            </div>

            @* **** Stock **** *@
            <div class="col-2 text-center">
                <span> @item.NX1.Value </span>
            </div>

            @* **** Missing **** *@
            <div class="col-1 text-center" style="color:red">
                @if (missingAmount != 0)
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-danger">@missingAmount</span>
                }
                <br />
                @if (!item.PreferedDeliverDate.Equals("") && (!item.PreferedDeliverDate.Equals(Model.PreferedDeliverDate)))
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-warning">Lev.dat: @item.PreferedDeliverDate</span>
                }
            </div>

            @* **** Badges **** *@
            <div class="col-1 text-right">
                @if (item.PickListState=="N")
                {
                    <span class="badge badge-warning">Shortfall</span>
                }

                @if (item.MaterialRows?.Count > 0)
                {
                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                }

            </div>
        </div>

        @if (item.MaterialRows?.Count > 0)
        {
            <div class="row" style="background-color:white">
                <div class="col-12">
                    <div class="container" style="background-color:#d0ddd5;margin: 20px 20px 20px 20px">
                        <div class="row" style="font-weight:bold;color:#645d5d">
                            <div class="col-2">
                                Mat.row
                            </div>
                            <div class="col-2">
                                Product no.
                            </div>
                            <div class="col-3">
                                Description
                            </div>
                             <div class="col-1 text-center">
                                Qty
                            </div>
                            <div class="col-2 text-center">
                                Available
                            </div>
                             <div class="col-1 text-center">
                                Missing
                            </div>
                             <div class="col-1 text-right">
                               Info
                            </div>
                        </div>
                        @foreach (var mrow in item.MaterialRows)
                        {
                            <div class="row">
                                <div class="col-2">
                                    @mrow.MaterialRowNo
                                </div>
                                <div class="col-2">
                                    @mrow.ProductNo
                                </div>
                                <div class="col-3">
                                    @mrow.ProductDescription
                                </div>
                                <div class="col-1 text-center">
                                    @mrow.Amount
                                </div>
                                  <div class="col-2 text-center">
                                    @mrow.ExtraAmount
                                </div>
                                
                                  <div class="col-1 text-center">
                                    @if((mrow.ExtraAmount - (mrow.Amount - mrow.DeliveredAmount))< 0)
                                    {
                                       @(mrow.ExtraAmount - (mrow.Amount - mrow.DeliveredAmount))
                                    }
                                </div>
                                   <div class="col-1 text-right">
                                    @if(mrow.PickListState=="N")
                                    {
                                      <span class="badge badge-warning">Shortfall</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>


                </div>
            </div>
        }
    }

</div>

@*
<table class="table logistics-table">
    <tr>
        <th>
            <h4>Row</h4>
        </th>
        <th>
            <h4>Product</h4>
        </th>

        <th>
            <h4>Amount</h4>
        </th>
        <th>
            <h4>Info</h4>
        </th>
        <th>
            <h4>Stock</h4>
        </th>
        <th>
            <h4>Info</h4>
        </th>
    </tr>

    @foreach (var item in Model.OrderRows)
    {
        //                string rowClass = "", inputStyle = "";
        bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
        bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
        bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;
        decimal missingAmount = 0;
        decimal missingAmountBadge = item.Product.Stock.Value - (item.Amount.Value - item.DeliveredAmount.Value);

        string rowStyle = "";

        if (((item.Amount - item.DeliveredAmount) > item.AmountToDeliver) && !(item.MDF.Equals("1") || item.MDF.Equals("2")))
        {
            //                    rowClass = "";
            //inputStyle = "background-color:rgba(243, 125, 125, 1);";
            missingAmount = item.AmountToDeliver.Value - (item.Amount.Value - item.DeliveredAmount.Value);
        }

        if (fullDeliver)
        {
            rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
        }
        else if (partDeliver)
        {
            rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
        }

        <tr style="@rowStyle" id="row-@item.RowNo">
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo) - @Html.DisplayFor(modelItem => item.RowNo)

                @if (item.MaterialRows?.Count > 0)
                {
                    foreach (MaterialRow mrow in item.MaterialRows)
                    {
                        <div style="float:left">
                            @mrow.MaterialRowNo
                            @mrow.ProductNo
                            @mrow.ProductDescription
                            @mrow.Amount
                        </div>
                    }
                }
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProductNo)
            </td>

            <td>
                @if (!fullDeliver)
                {
                    <span><b>@(item.Amount - item.DeliveredAmount) </b></span>
                }
                else
                {
                    <span> Klar </span>
                }

            </td>
            <td>
                @if (missingAmount != 0)
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-danger">@missingAmount</span>
                }
                <br />
                @if (!item.PreferedDeliverDate.Equals("") && (!item.PreferedDeliverDate.Equals(Model.PreferedDeliverDate)))
                {
                    <span id="missing-amount-row-@item.RowNo" class="label label-warning">Lev.dat: @item.PreferedDeliverDate</span>
                }
            </td>


            <td>
                <span> @item.Product.Stock.Value </span>
            </td>
            <td>
                @if (missingAmountBadge < 0 && item.Product.StockUpdateType.CompareTo("4") <= 0)
                {
                    <span class="badge badge-warning">Shortfall</span>
                }

                @if (item.MaterialRows?.Count > 0)
                {
                    <span class="badge badge-warning">Mat.plan</span>
                }
            </td>


        </tr>
    }
</table>*@

@section Scripts {
    <script type="text/JavaScript">

        $(document).ready(function () {
            function validateSignature(signature) {
                $.ajax({
                    url: '@Url.Action("ValidateSignature", "Order")',
                    contentType: "application/json; charset=utf-8",
                    data: { sign: signature },
                    dataType: "",
                    success: successFunc,
                    error: errorFunc
                });
            }

            $("#sign").keyup(function () {
                validateSignature($('#sign').val());
            });

            function successFunc(data) {
                if (data == "true") {
                    $(".start-button").attr("disabled", false);
                    //$(".start-button").attr("href", "/Order/PickOrder/?id=@Model.OrderNo&sign=" + $('#sign').val());
                }
                else {
                    $(".start-button").attr("disabled", true);
                }
            }

            function errorFunc() {
                $(".start-button").addClass("disabled");
            }
        });
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
        })));

    </script>
}

<script type="text/javascript">
</script>