﻿@using Babc_logistic_core.Models
@model OrderOverviewVM


@{
    ViewBag.Title = "OrderOverView";
    Layout = "~/Views/Shared/_LayoutOverView.cshtml";
}


<div class="logistics-page-header">
    <h2>Order Overview</h2>
</div>
<style>
    .column {
        float: left;
        width: 16%;
        padding: 10px;
        padding-top: 10px;
    }

    .column1 {
        float: left;
        width: 20%;
        padding: 10px;
        padding-top: 10px;
    }

    #partialModal {
        position: fixed;
        top: 80%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


    .navigation {
        position: fixed;
        bottom: 0;      
        margin: auto;   
        width: 100%;

    }
   

</style>
@if (Model.Day_0?.Orders?.Count > 0)
{
    @*To Today*@
    <div class="column1">
        <h4>@Model.Day_0.DayName</h4>
        <div class="table-responsive">
            <table id="table" class="table logistics-table">
                <tr style="cursor:pointer">
                    <th>
                        OrderNo
                    </th>
                    <th>
                        Rows
                    </th>
                    <th>
                        Info
                    </th>
                    <th>
                        LevDat
                    </th>
                </tr>
                <hr />
                @if (Model.Day_0 != null)
                {
                    foreach (var item in Model.Day_0.Orders)
                    {
                        string style = "";


                        if (item.PickListState == "P")
                        {
                            style = "background-color:lightcoral";
                        }
                        else
                        {
                            style = "";
                        }


                        <tr style="@style" class="detail-click" data-order="@item.OrderNo">
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNo)

                            </td>
                            <td>
                                @item.OrderRows.Count(r=>r.RowNo <= 250)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @if (item.isLargeOrder)
                                {
                                    <span class="badge badge-danger">LARGE</span>
                                }
                                @if (item.DeliverState.CompareTo("0") > 0)
                                {
                                    <span class="badge badge-success">REST</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CountryCode))
                                {
                                    <span class="badge badge-info">@item.CountryCode</span>
                                }
                                @if (item.Relations)
                                {
                                    <span class="badge badge-danger">IK</span>
                                }
                                @if (item.isPrioOrder)
                                {
                                    <span class="badge badge-danger">#!</span>
                                }
                                @if (item.HasMaterialPlannedRows)
                                {
                                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                                }
                                @if (item.X1F == "N")
                                {
                                    <span class="badge badge-warning">Shortfall</span>
                                }
                            </td>
                            <td>
                                @item.PreferedDeliverDate
                            </td>
                        </tr>
                    }
                }


            </table>
        </div>
    </div>
}
@if (Model.Day_1?.Orders?.Count > 0)
{
    @*To Today*@
    <div class="column">
        <h4>@Model.Day_1.DayName @Model.Day_1.Orders[0].PreferedDeliverDate</h4>

        <div class="table-responsive">
            <table id="table" class="table logistics-table">
                <tr style="cursor:pointer">
                    <th>
                        OrderNo
                    </th>
                    <th>
                        Rows
                    </th>
                    <th>
                        Info
                    </th>                    
                </tr>
                <hr />
                @if (Model.Day_1 != null)
                {
                    foreach (var item in Model.Day_1.Orders)
                    {
                        string style = "";


                        if (item.PickListState == "P")
                        {
                            style = "background-color:lightcoral";
                        }
                        else
                        {
                            style = "";
                        }


                        <tr style="@style" class="detail-click" data-order="@item.OrderNo">
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNo)

                            </td>
                            <td>
                                @item.OrderRows.Count(r=>r.RowNo <= 250)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @if (item.isLargeOrder)
                                {
                                    <span class="badge badge-danger">LARGE</span>
                                }
                                @if (item.DeliverState.CompareTo("0") > 0)
                                {
                                    <span class="badge badge-success">REST</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CountryCode))
                                {
                                    <span class="badge badge-info">@item.CountryCode</span>
                                }
                                @if (item.Relations)
                                {
                                    <span class="badge badge-danger">IK</span>
                                }
                                @if (item.isPrioOrder)
                                {
                                    <span class="badge badge-danger">#!</span>
                                }
                                @if (item.HasMaterialPlannedRows)
                                {
                                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                                }
                                @if (item.X1F == "N")
                                {
                                    <span class="badge badge-warning">Shortfall</span>
                                }
                            </td>
             
                        </tr>
                    }
                }


            </table>
        </div>
    </div>
}

@*Orders + 1 day*@
@if (Model.Day_2?.Orders?.Count > 0)
{
    <div class="column">
        <h4>@Model.Day_2.DayName @Model.Day_2.Orders[0].PreferedDeliverDate</h4>
        <div class="table-responsive">
            <table id="table" class="table logistics-table">
                <tr style="cursor:pointer">
                    <th class="d-none d-md-table-cell">
                        OrderNo
                    </th>
                    <th>
                        Rows
                    </th>
                    <th class="d-none d-lg-table-cell">
                        Info
                    </th>
                </tr>
                <hr />
                @if (Model.Day_2 != null)
                {
                    foreach (var item in Model.Day_2.Orders)
                    {
                        string style = "";

                        if (item.PickListState == "P")
                        {
                            style = "background-color:lightcoral";
                        }
                        else
                        {
                            style = "";
                        }

                        <tr style="@style" class="detail-click" data-order="@item.OrderNo">
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.OrderNo)

                            </td>
                            <td>
                                @item.OrderRows.Count(r=>r.RowNo <= 250)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @if (item.isLargeOrder)
                                {
                                    <span class="badge badge-danger">LARGE</span>
                                }
                                @if (item.DeliverState.CompareTo("0") > 0)
                                {
                                    <span class="badge badge-success">REST</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CountryCode))
                                {
                                    <span class="badge badge-info">@item.CountryCode</span>
                                }
                                @if (item.Relations)
                                {
                                    <span class="badge badge-danger">IK</span>
                                }
                                @if (item.isPrioOrder)
                                {
                                    <span class="badge badge-danger">#!</span>
                                }
                                @if (item.HasMaterialPlannedRows)
                                {
                                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                                }
                                @if (item.X1F == "N")
                                {
                                    <span class="badge badge-warning">Shortfall</span>
                                }
                            </td>


                        </tr>
                    }
                }
            </table>
        </div>

    </div>
}
@*Orders + 2 days *@


@if (Model.Day_3?.Orders?.Count > 0)
{
    <div class="column">
        <h4>@Model.Day_3.DayName @Model.Day_3.Orders[0].PreferedDeliverDate</h4>
        <div class="table-responsive">
            <table id="table" class="table logistics-table">
                <tr style="cursor:pointer">
                    <th class="d-none d-md-table-cell">
                        OrderNo
                    </th>
                    <th>
                        Rows
                    </th>
                    <th class="d-none d-lg-table-cell">
                        Info
                    </th>
                </tr>
                <hr />
                @if (Model.Day_3 != null)
                {
                    foreach (var item in Model.Day_3.Orders)
                    {
                        string style = "";

                        if (item.PickListState == "P")
                        {
                            style = "background-color:lightcoral";
                        }
                        else
                        {
                            style = "";
                        }

                        <tr style="@style" class="detail-click" data-order="@item.OrderNo">
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.OrderNo)
                            </td>
                            <td>
                                @item.OrderRows.Count(r=>r.RowNo <= 250)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @if (item.isLargeOrder)
                                {
                                    <span class="badge badge-danger">LARGE</span>
                                }
                                @if (item.DeliverState.CompareTo("0") > 0)
                                {
                                    <span class="badge badge-success">REST</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CountryCode))
                                {
                                    <span class="badge badge-info">@item.CountryCode</span>
                                }
                                @if (item.Relations)
                                {
                                    <span class="badge badge-danger">IK</span>
                                }
                                @if (item.isPrioOrder)
                                {
                                    <span class="badge badge-danger">#!</span>
                                }
                                @if (item.HasMaterialPlannedRows)
                                {
                                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                                }
                                @if (item.X1F == "N")
                                {
                                    <span class="badge badge-warning">Shortfall</span>
                                }
                            </td>


                        </tr>
                    }
                }


            </table>

        </div>
    </div>
}

@*Orders + 3 days*@




@*Orders + 4 *@
@if (Model.Day_4?.Orders?.Count > 0)
{
    <div class="column">
        <h4>@Model.Day_4.DayName @Model.Day_4.Orders[0].PreferedDeliverDate</h4>
        <div class="table-responsive">

            <table id="table" class="table logistics-table">

                <tr style="cursor:pointer">
                    <th class="d-none d-md-table-cell">
                        OrderNo
                    </th>
                    <th>
                        Rows
                    </th>
                    <th class="d-none d-lg-table-cell">
                        Info
                    </th>

                </tr>

                <hr />

                @if (Model.Day_4 != null)
                {
                    foreach (var item in Model.Day_4.Orders)
                    {
                        string style = "";

                        if (item.PickListState == "P")
                        {
                            style = "background-color:lightcoral";
                        }
                        else
                        {
                            style = "";
                        }

                        <tr style="@style" class="detail-click" data-order="@item.OrderNo">
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.OrderNo)
                            </td>
                            <td>
                                @item.OrderRows.Count(r=>r.RowNo <= 250)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @if (item.isLargeOrder)
                                {
                                    <span class="badge badge-danger">LARGE</span>
                                }
                                @if (item.DeliverState.CompareTo("0") > 0)
                                {
                                    <span class="badge badge-success">REST</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CountryCode))
                                {
                                    <span class="badge badge-info">@item.CountryCode</span>
                                }
                                @if (item.Relations)
                                {
                                    <span class="badge badge-danger">IK</span>
                                }
                                @if (item.isPrioOrder)
                                {
                                    <span class="badge badge-danger">#!</span>
                                }
                                @if (item.HasMaterialPlannedRows)
                                {
                                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                                }
                                @if (item.X1F == "N")
                                {
                                    <span class="badge badge-warning">Shortfall</span>
                                }
                            </td>


                        </tr>
                    }
                }


            </table>
        </div>
    </div>
}
@*Orders + 4 Days*@

@if (Model.Day_5?.Orders?.Count > 0)
{
    <div class="column">
        <h4>@Model.Day_5.DayName @Model.Day_5.Orders[0].PreferedDeliverDate</h4>
        <div class="table-responsive">

            <table id="table" class="table logistics-table">

                <tr style="cursor:pointer">
                    <th class="d-none d-md-table-cell">
                        OrderNo
                    </th>
                    <th>
                        Rows
                    </th>
                    <th class="d-none d-lg-table-cell">
                        Info
                    </th>

                </tr>

                <hr />

                @if (Model.Day_5 != null)
                {
                    foreach (var item in Model.Day_5.Orders)
                    {
                        string style = "";

                        if (item.PickListState == "P")
                        {
                            style = "background-color:lightcoral";
                        }
                        else
                        {
                            style = "";
                        }

                        <tr style="@style" class="detail-click" data-order="@item.OrderNo">
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.OrderNo)
                            </td>
                            <td>
                                @item.OrderRows.Count(r=>r.RowNo <= 250)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @if (item.isLargeOrder)
                                {
                                    <span class="badge badge-danger">LARGE</span>
                                }
                                @if (item.DeliverState.CompareTo("0") > 0)
                                {
                                    <span class="badge badge-success">REST</span>
                                }
                                @if (!string.IsNullOrEmpty(item.CountryCode))
                                {
                                    <span class="badge badge-info">@item.CountryCode</span>
                                }
                                @if (item.Relations)
                                {
                                    <span class="badge badge-danger">IK</span>
                                }
                                @if (item.isPrioOrder)
                                {
                                    <span class="badge badge-danger">#!</span>
                                }
                                @if (item.HasMaterialPlannedRows)
                                {
                                    <span class="badge" style="background-color:#d0ddd5">Mat.Plan</span>
                                }
                                @if (item.X1F == "N")
                                {
                                    <span class="badge badge-warning">Shortfall</span>
                                }
                            </td>


                        </tr>
                    }
                }


            </table>
        </div>
    </div>
}
    <div class="navigation" style="text-align:center">
    <table width="350" align="center">
            <tr>

                <td colspan="7" align="center">

                    <a asp-action="Index" asp-controller="Home" style="width:100px" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Home</a>
                </td>

            </tr>
    <tr>
        <td colspan="2" align="left">
            <a asp-action="PickList" asp-route-startDate="@ViewBag.previousDate" style="width:100px" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Previous</a>

        </td>
        <td colspan="3" align="center">

            <a asp-action="PickList" asp-route-startDate="PickList?startDate=@DateTime.Now.ToString("yyMMdd")" style="width:100px" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Today</a>
        </td>
        <td colspan="2" align="right">

            <a asp-action="PickList" asp-route-startDate="@ViewBag.nextDate" style="width:100px" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Next</a>
        </td>
    </tr>
        </table>
    </div>

<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:1200px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var reloadInterval = null;
    var defaultIntervals = 60000;

    $(document).ready(function ()
    {
        $(".detail-click").click(function ()
        {
            var orderNo = $(this).data("order");

            clearInterval(reloadInterval);

            $.ajax({
                type: "POST",
                url: "/OrderOverview/OverviewDetails",
                data: { "id": orderNo },
                success: function (response)
                {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                   
                },
                failure: function (response)
                {
                    alert(response.responseText);
                },
                error: function (response)
                {
                    alert(response.responseText);
                }
            });
        });

        $(document).on('hide.bs.modal', '#partialModal', function ()
        {
            setReloadInterval(defaultIntervals);
        });
    });

    setReloadInterval(defaultIntervals);

    function setReloadInterval(ms)
    {
        reloadInterval = setInterval(reloadPage, ms);
    }

    function reloadPage()
    {
        location.reload();
    }

</script>

