﻿@model Babc_logistic_core.Models.OrderViewModel

@{
    ViewBag.Title = "Pick Order";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=-100%" />


  
 

<div class="logistics-page-header">
    <h2>Pick order</h2>
    <table style="width:100%">
        <tr>
            <td><b>OrderNo:</b> @Html.DisplayFor(model => model.Order.OrderNo)</td>
            <td><b>Delivernote:</b> @Html.DisplayFor(model => model.Order.LastDeliverNote)</td>
            <td><b>Deliverway:</b> @Html.DisplayFor(model => model.Order.DeliverWay)</td>
            <td><b>Deliverterms:</b>@Html.DisplayFor(model => model.Order.DeliverTermsDescription)</td>
            
        </tr>
        <tr>
            <td><b>Customer:</b> @Html.DisplayFor(model => model.Order.DeliverCustomerName)</td>
            <td><b>Address 1:</b> @Html.DisplayFor(model => model.Order.DeliverAddress1)</td>
            <td><b>Address 2:</b> @Html.DisplayFor(model => model.Order.DeliverAddress2)</td>
            <td><b>Zip & City:</b> @Html.DisplayFor(model => model.Order.DeliverZipCity)</td>
            <td><b>Weight:</b> @Html.DisplayFor(model => model.Order.TotalWeight)</td>
            
        </tr>
        <tr>
            <td><b>Work Order: </b>@Html.DisplayFor(model => model.Order.Text3)</td>
            <td><b>Your Order No: </b>@Html.DisplayFor(model => model.Order.Text1)</td>
            <td><b>Goods Mark: </b>@Html.DisplayFor(model => model.Order.Text2) </td>

            @if (!string.IsNullOrEmpty(ViewBag.Customer.Code_3))
            {
                <td><span class="badge" style="background-color:#8e1823">NOTE! Customer labels</span></td>
            }
        </tr>
    </table>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark logistics-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse action-list">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <input id="productno" type="text" name="productno" style="display:inline;" autofocus placeholder="Scan product" data-disable-touch-keyboard class="form-control input-search-sku">
                    <input type="hidden" id="onr" value="" />
                    <input type="hidden" id="row" value="" />
                    <input type="hidden" id="opn" value="" />
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="ViewDeliveredOrder" asp-route-delnote="@Model.Order?.LastDeliverNote" asp-route-onr="@Model.Order?.OrderNo" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Delivernote</a>
                </li>
                <li class="nav-item">
                    <form asp-action="GetTransport" method="get" asp-controller="Transport" style="margin-left:4px;">
                        <div class="form-group">
                            <input type="hidden" name="delivernote" class="delivernote" value="@Model.Order.LastDeliverNote" />
                            <input type="hidden" name="onr" class="delivernote" value="@Model.Order.OrderNo" />
                            <button id="btn-goods" type="submit" class="nav-link active btn btn-outline-dark logistics-btn-outlined"><span class="glyphicon glyphicon-tags"></span>Handle Goods</button>
                        </div>
                    </form>
                </li>
                @*<li class="nav-item">
            <a id="btButton" asp-action="ViewTransport" asp-route-id="@Model.Order.LastDeliverNote" asp-route-backpath="/Order/PickOrder/@Model.Order.OrderNo" class="nav-link active btn btn-outline-dark logistics-btn-outlined" >Transport </a>
        </li>*@
            </ul>
        </div>
        <div class="navbar-collapse collapse dual-collapse2 action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="CancelPickorder" asp-route-onr="@Model.Order.OrderNo" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Cancel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@{
    //int idx = 0;
    
    <input id="logtext-added-today" type="hidden" value="@Model.LogtextAddedToday.ToString()" />

    <div class="panel panel-default" id="order-list">
                <input type="hidden" id="currentFilter" value="all" />
                <div class="panel-body panel-header-body-pickorder">
                    <table class="table table-responsive-md">
                        <tr>
                            <th>
                                <h5>Product</h5>
                            </th>
                            <th>
                                <h5>Description</h5>
                            </th>
                            <th>
                                <h5>Amount</h5>
                            </th>
                            <th>
                                <h5>Place</h5>
                            </th>
                            <th>
                                @* Back button  *@
                            </th>
                            <th style="min-width:175px">
                                @* Deliver  *@
                            </th>
                            <th style="padding: 0px">
                                <h5>Final deliver</h5>
                            </th>
                            <th>
                                @* Delete  *@
                            </th>
                        </tr>

                        @foreach (var item in Model.Rows)
                {
                          @await Component.InvokeAsync("OrderRowSlice", new { or = item })
                }

                        @if (Model.SelectableProducts?.Count > 0)
                {
                        <tr>
                            <td colspan="12">
                                <div>
                                    <a id="btn-new-row" href="#" class="btn logistics-btn-action glyphicon glyphicon-plus btn-order-list"> New row</a>
                                    <div id="div-add-row" class="panel panel-default panel-add-row" style="display:none">
                                        <form id="addRow" action="/Order/AddOrderRow">
                                            <input type="hidden" name="onr" value="@Model.Order.OrderNo" />
                                            <input type="hidden" name="sign" value="@Model.Order.Season" />
                                            <table style="width:100%;border-collapse:separate;border-spacing:10px;">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Amount</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;width:155px;">
                                                        <select id="package-type" name="anr" class="ProductTypes form-control">
                                                            @foreach (Babc_logistic_core.GIS.DTO.Product p in Model.SelectableProducts)
                                                    {
                                                            string productText = "";
                                                            if(p.ProductText != null)
                                                            {
                                                                productText = p.Description + p.ProductText[0].Value;
                                                            }
                                                            else
                                                            {
                                                                productText = p.Description;
                                                            }

                                                                    <option value="@p.ProductNo">@p.ProductNo | @productText</option>
                                                    }
                                                        </select>
                                                    </td>
                                                    <td style="text-align:left;width:50px;">
                                                        <input type="number" min="0" step="any" class="form-control" id="amount" name="amount" value="" />
                                                    </td>
                                                    <td style="text-align:left;width:80px;">
                                                        <div class="btn-group pull-left">
                                                            <input type="submit" id="btn-add-row" class="btn logistics-btn-action" value="Add" style="margin-right:5px"/>
                                                            <input type="button" id="btn-add-row-cancel" class="btn logistics-btn-back" value="Cancel" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                }
                    </table>
                </div>
    </div>

}
<div class="modal" tabindex="-1" role="dialog" id="message">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="message-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="message-body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn logistics-btn-action" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="logtext-alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logtext-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-select dropdown form-control" id="current-logtext">
                    @*<option>Choose a reason for the changed delivery date...</option>*@
                    @foreach(string cause in Model.LogTexts)
                    {
                        <option>@cause</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button id="btn-deliver-logtext" type="button" class="btn logistics-btn-action btn-deliver-row" data-order="" data-row="" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="deliverAlert" class="alert alert-danger" hidden="hidden">
    <button type="button" class="close" data-hide="alert">&times;</button>
    <strong>Leverans Misslyckades! </strong><span id="deliverMsg"></span>
</div>
</div>



<script>
    $(document).on('click', '.btn-deliver-row', {}, function (e) {
        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");
        var warehouse = $("#warehouseno-" + row).val();
        var amount = $("#deliver-amount-row-" + row).val();
        var reamining_amount = $("#deliver-amount-row-" + row).data("remaining-amount");
        var warehouseStock = $("#warehouseno-stock-" + row).val()
        var state = "";
        var doDeliver = true;
        var ordgDeliverDate = $("#data-deliverdate-" + row).val()
        var logText = $("#current-logtext").val();

        // Get date in right format
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yy = today.getFullYear().toString().substring(2,4);

        today = yy + mm + dd;

        if ($("#force-final-deliver-" + row).prop("checked") == true) {
            state = "5";
        }

        if (warehouse == "") {
            doDeliver = false;
            $("#message-title").text("Warehouse");
            $("#message-body").text("This row has no selected warehouse, delivery is not possible!");
            $("#message").modal();
            return;
        }
        else {
            if ((state == "5")) {
                if (confirm("Vill du verkligen slutleverera denna rad?") == false) {
                    doDeliver = false;
                }
            }
        }

        // Prevent overdeliver of row
        if (parseFloat(reamining_amount) < parseFloat(amount)) {
            doDeliver = false;
            $("#message-title").text("Overdeliver is prohibited!");
            $("#message-body").text("Remaining amount is " + reamining_amount + " and you want to deliver " +amount );
            $("#message").modal();
            return;
        }

        // If we should check stock (product with no stock update type is not chekced)
        if ($("#" + current).attr("data-check-stock") == "True") {
            if (parseFloat(warehouseStock) < parseFloat(amount)) {
                doDeliver = false;
                $("#message-title").text("Not enough stock!");
                $("#message-body").text("Batch " + warehouse + " don't have " + amount + " in stock!");
                $("#message").modal();
                return;
            }
        }

        // Check if deliver is in time or not 
        if ($("#logtext-added-today").val() == "False" && (ordgDeliverDate != today)) {
            doDeliver = false;
            $("#logtext-title").text("Deliver is not on prefered deliverdate!");
            $("#logtext-alert").modal();
            $("#logtext-added-today").val("true")

            // De values to logttext dialogs deliver button. We will do a roundtripp back here later when user press that button
            $("#btn-deliver-logtext").attr("data-order", order);
            $("#btn-deliver-logtext").attr("data-row", row);

            return;
        }

        //doDeliver = false;
        if (doDeliver == true) {
            show_spinner($('#order-list'), 2, "bounce");

            var options = {};
            options.url = "/Order/DeliverOrderRow";
            options.type = "POST";
            options.data = { order: order, row: row, state: state, amount: amount, warehouseno: warehouse, logtext: logText };
            options.dataType = "text";
            //options.contentType = "application/json";
            options.success = function (data) {
                if (!data.startsWith("#")) {
                    $("#row-" + row).replaceWith(data);
                    $("#logtext-added-today").val("true")
                }
                else {
                    $("#message-title").text("Deliver failed");
                    $("#message-body").text(data);
                    $("#message").modal();
                }

                hide_spinner($("#order-list"));

                return false;
            };

            options.error = function () {
                hide_spinner($("#order-list"));
                alert("Error while executing delivery!");
            };
            $.ajax(options);
        }

        if(logtext == "")
        {
            doDeliver = false;
        }

        return false;
    })



    $(document).on('click', '.btn-back-row', {}, function (e) {
        show_spinner($('#order-list'), 2, "bounce");

        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");
        var state = $("#" + current).attr("data-state");

        var options = {};
        options.url = "/Order/BackDeliverOnOrderRow";
        options.type = "POST";
        options.data = { order: order, row: row, state: state };
        options.dataType = "text";
        options.success = function (data) {
            if (data != "FAILED") {
                $("#row-" + row).replaceWith(data);
                hide_spinner($('#order-list'));
            }


            return false;
        };
        options.error = function () {
            hide_spinner($('#order-list'));
            alert("Error while backing delivery!");
        };
        $.ajax(options);
    });

    /*
        DELETE ORDERROW BUTTON
    */
    $(document).on('click', '.btn-delete-row', {}, function (e) {
        var confirmDelete = false;

        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");

        if (confirm('Do you really want to delete this row?')) {
            confirmDelete = true;
        }


        if (confirmDelete == true)
        {
            show_spinner($('#order-list'), 2, "bounce");

            var options = {};
            options.url = "/Order/DeleteOrderRow";
            options.type = "POST";
            options.data = { order: order, row: row };
            options.dataType = "text";
            options.success = function (data) {
                if (!data.startsWith("#")) {
                    $("#row-" + row).remove();
                }
                else {
                    $("#message-title").text("Delete failed");
                    $("#message-body").text(data);
                    $("#message").modal();
                }

                hide_spinner($("#order-list"));

                return false;
            };
            options.error = function () {
                hide_spinner($('#order-list'));
                alert("Error while backing delivery!");
            };
            $.ajax(options);
        }

    });

    // *** Scanning functions ****
    $('.input-search-sku').keypress(function (e) {
        console.log("hit");
        if (e.which != 13) {
            return true;
        }

        var productRow = $('.productno').filter(function () {
            return this.value == $("#productno").val();
        }).first();

        console.log(productRow);

        if (productRow != null) {
            var productno = $("#productno").val();
            var order = productRow.data("order");
            var row = productRow.data("row");
            var amount = $("#deliver-amount-row-" + productRow.data("row")).val()
            var warehouseStock = $("#warehouseno-stock-" + productRow.data("row")).val()
            var warehouseno = $("#warehouseno-" + productRow.data("row")).val();
            var state = "";

            var doDeliver = true;

            if (warehouseno == "") {
                doDeliver = false;
                alert("This row has no selected warehouse, delivery is not possible!")
            }

            if (parseFloat(warehouseStock) < parseFloat(amount)) {
                doDeliver = false;
                alert("The amount is larger than stock in the warehouse!")
                return;
            }

            if (amount == "") {
                doDeliver = false;
                alert("Amount is missing!")
            }
            else {
                if (parseFloat(amount) == 0) {
                    doDeliver = false;
                    alert("Can't deliver " + amount + " amount!")
                }
            }

            //doDeliver = false;
            if (doDeliver == true) {
                show_spinner($('#order-list'), 2, "bounce");

                var options = {};
                options.url = "/Order/DeliverOrderRow";
                options.type = "POST";
                options.data = { order: order, row: row, state: state, amount: amount, warehouseno: warehouseno };
                options.dataType = "text";
                //options.contentType = "application/json";
                options.success = function (data) {
                    if (!data.startsWith("FAILED")) {
                        $("#row-" + row).replaceWith(data);
                    }
                    else {
                        $("#deliverMsg").text(states);
                        $("#deliverAlert").show();
                    }

                    $("#productno").val("");
                    hide_spinner($("#order-list"));

                    return false;
                };

                options.error = function () {
                    hide_spinner($("#order-list"));
                    alert("Error while executing delivery!");
                };
                $.ajax(options);

            }
        }

        return false;
    });

    $(function () {
        $("[data-hide]").on("click", function () {
            $(this).closest("." + $(this).attr("data-hide")).hide();
        });
    });

    function changeSumForRow(row, sumId) {
        var sum = 0;
        var inputValues = $('.' + row).map(function () {
            return $(this).val();
        }).toArray();
        for (var i = 0; i < inputValues.length; i++) {
            if (Number(inputValues[i])) {
                sum = +sum + +inputValues[i];
            }
        }
        $('#' + sumId).text(sum);
        changeTotalSum();
    }


    function changeTotalSum() {
        var sum = 0;
        var inputValues = $('.sumUpdates').map(function () {
            return $(this).val();
        }).toArray();
        for (var i = 0; i < inputValues.length; i++) {
            var splitted = inputValues[i].split(":");

            if (Number($('#' + splitted[1]).text())) {
                sum = +sum + +$('#' + splitted[1]).text();
            }
        }
        $('#sumTotal').text(sum);
    }

    $('#btn-new-row').click(function () {
        $(this).hide();
        $('#div-add-row').css("display", "block")

        return false;
    });

    $('#btn-add-row').click(function () {
        window.localStorage.setItem('scroll', 'true');
    });

    $('#btn-add-row-cancel').click(function () {
        $('#btn-new-row').show();
        $('#div-add-row').css("display", "none")
    });
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

</script>












