﻿@model Babc_logistic_core.Models.InventoryFileVM;

@{
    ViewData["Title"] = "CreateInventoryFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="logistics-page-header">
    <h1>Inventory file for - @Model.SetName</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse action-list" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-route-filename="@Model.Filename" asp-route-how="download" asp-action="GetInventoryFile" class="nav-link active btn btn-outline-dark logistics-btn-outlined">Download</a>
                </li>
                <li class="nav-item">
                    <a asp-route-filename="@Model.Filename" asp-route-how="view" asp-action="GetInventoryFile" class="nav-link active btn btn-outline-dark logistics-btn-outlined" target="_blank">Show</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse dual-collapse2 action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-route-filename="@Model.Filename" asp-route-setid="@Model.SetID" asp-action="SumInventory" class="nav-link active logistics-btn-back">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top:30px;">
    <div class="media">
        <img src="~/images/download.png" class="mr-3" style="height:40px;width:40px" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Inventoryfile created: @Model.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</h5>
            Here you can download or view the created inventory file. If you download it, you can use it in Garp under "INVENTORY / File  import" to execute all inventorys in the file.
        </div>
    </div>
</div>
