﻿@model Babc_logistic_core.Database.Inventory

@{
    ViewData["Title"] = "DeleteInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteInventory</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WarehouseNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>

    <div class="row">
        <div class="col-sm-1">
            <form asp-action="DeleteInventory">
                <input type="hidden" asp-for="ID" />
                <input name="InventorySetId" value="@Model.InventorySetId" type="hidden" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
        <div class="col-sm-11">
            <form asp-action="Inventory">
                <input name="CurrentInventorySetId" value="@Model.InventorySetId" type="hidden" />
                <button type="submit" id="btn-submit" class="btn btn-primary" >Back</button>
            </form>
        </div>
    </div>
</div>
