﻿@model Babc_logistic_core.Database.InventorySet

@{
    ViewData["Title"] = "EmtySetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want delete all inventorys in this list?</h3>
<div style="margin-top:20px">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
    </dl>
    
    <form asp-action="EmtySetList">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="SumInventory" asp-route-setid="@Model.ID" class="btn btn-primary">Back to List</a>
    </form>
</div>
