﻿@model Babc_logistic_core.Models.InventoryOverviewVM
@{
    ViewBag.Title = "OverView";
}

<div class="logistics-page-header">
    <h1>Inventory</h1>
</div>
<nav class="navbar navbar-expand-sm navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Filter</a>
        @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="action-list">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-action="SumInventory" class="nav-link active btn btn-outline-dark logistics-btn-outlined" aria-current="page" asp-route-setid="@Model.CurrentInventorySetId">Summarize inventory</a>
                </li>
                <li class="nav-item">
                    <button id="btn-MoveStock" class="nav-link active btn btn-outline-dark logistics-btn-outlined" aria-current="page" >Change Warehouse Location</button>

                </li>
                <li class="nav-item">
                    <a id="btn-Inventory-Sets" asp-area="" asp-controller="InventorySet" asp-action="Index" class="nav-link active btn btn-outline-dark logistics-btn-outlined" aria-current="page">Inventory Sets</a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="inventory-header" class="input-group" style="margin-top:15px">
    @*@onsubmit = "return validateForm()",*@
    @using (Html.BeginForm("Inventory", "FloatingStockLocation", null, FormMethod.Post, false, new { @name = "myForm", @id = "frm-execute" }))
    {
        string hasSelectedInventorySet = Model.CurrentInventorySetId == 0 ? "invisible" : "visible";

        <div class="">
            <div class="form-group row">
                <div class="col">
                    <label class="control-label">Location</label>
                    <select asp-for="CurrentInventorySetId" class="form-control" id="sel-set" asp-items="@(new SelectList(Model.InventorySetList,"ID", "LocationName"))">
                    </select>
                </div>
            </div>
            <div id="form-section" class="">
                <div class="form-group">
                    <label for="productno">Product</label>
                    <input type="text" class="form-control" id="productno" name="ProductNo" placeholder="Enter product no.">
                    <small id="product-description" class="form-text text-muted"></small>
                    <small id="product-text15" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label>Batch.No (Mult. inv.)</label>
                    @*<input type="text" class="form-control" id="place" name="Warehouse" placeholder="Lagernr" onsubmit="required()" value="@Model.Place">*@
                    <select id="warehouseSelect" class="form-control" name="Warehouse" placeholder="Lagernr" onsubmit="required()">
                        <option>Select warehouse</option>
                    </select>
                </div>
                @*<div class="form-group">
                    <label>Place</label>
                    <input type="text" class="form-control" id="place" name="Place" placeholder="Set new place">
                </div>
                <div class="form-group">
                    <label>First change date</label>
                    <input type="text" class="form-control" id="firstmovmentdate" name="FirstMovmentDate" placeholder="Date (6 figures)">
                </div>*@
                <div class="form-group">
                    <label for="amount">Stock</label>
                    <input type="number" class="form-control" id="amount" name="Amount" placeholder="Stock">
                </div>
                <button type="submit" id="btn-submit" class="btn btn-dark logistics-btn-action">Add inventory</button>

            </div>
        </div>
    }
</div>

<div style="margin-top:15px;">
    <table id="invList" class="table logistics-table">
        <tr>
            <th style="cursor:pointer" onclick="sortTable(0)">
                Product
            </th>
            <th style="cursor:pointer" onclick="sortTable(1)">
                Place
            </th>
            <th style="cursor:pointer" onclick="sortTable(2)">
                Batch.No
            </th>
            <th style="cursor:pointer" onclick="sortTable(3)">
                Amount
            </th>
            <th>
                Info
            </th>
            <th></th>
        </tr>

        @if (Model.InventoryList != null)
        {
            foreach (var item in Model.InventoryList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNo, new { @id = "productno" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarehouseNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Note))
                        {
                            string[] notelist = item.Note.Split(';');

                            foreach (string n in notelist)
                            {
                                <span title="Occurs more than once in this list" class="badge badge-warning">@n</span>
                            }
                        }
                    </td>
                    <td style="text-align:right;">
                        <a asp-action="DeleteInventory" class="btn logistics-btn-delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>

</div>


<div id="dialog-message" title="Duplicated inventory">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        <span id="inventory-message">@Model.Message</span>
    </p>
</div>

<div title="Move Stock" id="MoveStock">


    <div>
        <table class="table logistics-table">
            <tr>
                <td>Product No.:</td>
                <td><input class="form-control" id="MSProduct" readonly/></td>
                 <td>Description:</td>
                <td><input class="form-control" id="MSAM1" readonly /></td>
            </tr>
            <tr>
                <td>Warehouse No. (Batch)</td>
                <td><input id="batchno" type="text" name="batchno" style="display:inline;" autofocus placeholder="Scan batch" data-disable-touch-keyboard class="form-control batchno"></td>
                <td>Description 2:</td>
                <td><input class="form-control" id="MSAM2" readonly /></td>
            </tr>            <tr>
                <td>From WH Location:</td>
                <td><input class="form-control" id="MSFWL" readonly /></td>
                <td>Move Qty:</td>
                <input type="hidden" id="MSBatchQTY"/>
                <td><input class="form-control" id="MSQty" /></td>
            </tr>

            <tr>
                <td>To WH Location:</td>
                <td><input class="form-control" id="MSTWL" style="width:150px;display:inline-block" />
                    <button type="button" id="btn-LocationList" style="display:inline-block;visibility:hidden" class="btn logistics-btn-planned batchPickList-row"><i class="fa-duotone fa-clipboard-list fa-beat"></i></button>
                                      
                <td>New Warehouse No (Batch):</td>
                <td><input class="form-control" id="MSTW" readonly /></td>
            </tr>
        </table>
@*        <input type="radio" name="type" checked value="yes">
        <label for="location">Location</label><br>
        <input type="radio" name="type" value="no">
        <label for="warehouse">Warehouse</label><br>*@
        <button id="btn-move-batch" style="float:right;margin-left:5px" class="btn logistics-btn-action">Move Stock</button>
       
 
    </div>


</div>
<div title="Location List" id="LocationList">


 

        <div id="locationlist" name="locationlist" class="table-wrapper">
      @await Component.InvokeAsync("InventoryLocationList")
        </div>

    </div>
 
<div title="Stock has been moved" id="responseModal">


    <div>
        <table class="table logistics-table">
       <tr>
           <th>Warehouse No.</th>
           <th>Location</th>
           <th>Remaining Stock</th>
       </tr>
            <tr>
                <td><label id="oldWhLabel"/></td>
                <td><label id="oldLocationLabel" /></td>
                <td><label id="oldQtyLabel" /></td>
            </tr>
 
            <tr>
                <th>New Warehouse No.</th>
                <th>New WH Location</th>
                <th>New WH Stock</th>
            </tr>
            <tr>
                <td><label id="newWhLabel" /></td>
                <td><label id="newLocationLabel" /></td>
                <td><label id="newQtyLabel" /></td>
            </tr>
        </table>

    </div>
</div>

@*<div id="example" class="flora" title="This is my title">
    I'm in a dialog!
</div>*@

<script type='text/javascript'>
    $(document).ready(function () {

        $("#MoveStock").dialog({
            autoOpen: false,
            height: 600,
            width: 970,
            modal: true,
            buttons: {
                 OK: function () {
                 
                    $(this).dialog("close");
                 
                    $("#MSProduct").val("");
                    document.getElementById('MSProduct').readOnly = false;
                    $("#MSFWL").val("");
                    $("#MSTWL").val("");
                    $("#MSTW").val("");
                    document.getElementById('MSFWL').readOnly = false;
                    $("#MSAM1").val("");
                    document.getElementById('MSAM1').readOnly = false;
                    $("#MSAM2").val("");
                    document.getElementById('MSAM2').readOnly = false;
                    $("#MSQty").val("");
                    $("#MSBatchQTY").val("");
                    $("#batchno").val("");
                    document.getElementById('btn-LocationList').style.visibility = "hidden";
                }

            },
            close: function () {
                //$("#MSProduct").val("");
                //document.getElementById('MSProduct').readOnly = false;
                //$("#MSFWL").val("");
                //$("#MSTWL").val("");
                //$("#MSTW").val("");
                //document.getElementById('MSFWL').readOnly = false;
                //$("#MSAM1").val("");
                //document.getElementById('MSAM1').readOnly = false;
                //$("#MSAM2").val("");
                //document.getElementById('MSAM2').readOnly = false;
                //$("#MSQty").val("");
                //$("#batchno").val("");
                //document.getElementById('btn-LocationList').style.visibility = "hidden";
            }
        });

        $("#LocationList").dialog({
            autoOpen: false,
            height: 650,
            width: 350,
            modal: true,
            buttons: {
                OK: function () {

                    $(this).dialog("close");
                }

            },
            close: function () {

            }
        });
        $("#responseModal").dialog({
            autoOpen: false,
            height: 550,
            width: 650,
            modal: true,
            buttons: {
                OK: function () {

                    $(this).dialog("close");
                    document.getElementById('oldWhLabel').innerHTML = '';
                    document.getElementById('oldLocationLabel').innerHTML = '';
                    document.getElementById('oldQtyLabel').innerHTML = '';
                    document.getElementById('newWhLabel').innerHTML = '';
                    document.getElementById('newLocationLabel').innerHTML = '';
                    document.getElementById('newQtyLabel').innerHTML = '';

                    $("#MSProduct").val("");
                    document.getElementById('MSProduct').readOnly = false;
                    $("#MSFWL").val("");
                    $("#MSTWL").val("");
                    $("#MSTW").val("");
                    document.getElementById('MSFWL').readOnly = false;
                    $("#MSAM1").val("");
                    document.getElementById('MSAM1').readOnly = false;
                    $("#MSAM2").val("");
                    document.getElementById('MSAM2').readOnly = false;
                    $("#MSQty").val("");
                    $("#MSBatchQTY").val("");
                    $("#batchno").val("");
                    document.getElementById('btn-LocationList').style.visibility = "hidden";
                }

            },
            close: function () {
                document.getElementById('oldWhLabel').innerHTML = '';
                document.getElementById('oldLocationLabel').innerHTML = '';
                document.getElementById('oldQtyLabel').innerHTML = '';
                document.getElementById('newWhLabel').innerHTML = '';
                document.getElementById('newLocationLabel').innerHTML = '';
                document.getElementById('newQtyLabel').innerHTML = '';
                $("#MSProduct").val("");
                document.getElementById('MSProduct').readOnly = false;
                $("#MSFWL").val("");
                $("#MSTWL").val("");
                $("#MSTW").val("");
                document.getElementById('MSFWL').readOnly = false;
                $("#MSAM1").val("");
                document.getElementById('MSAM1').readOnly = false;
                $("#MSAM2").val("");
                document.getElementById('MSAM2').readOnly = false;
                $("#MSQty").val("");
                $("#MSBatchQTY").val("");
                $("#batchno").val("");
                document.getElementById('btn-LocationList').style.visibility = "hidden";
            }
        });
    });

   
    const msQtyField = document.getElementById("MSQty");
    var selectedValue = false;
    const msTWLField = document.getElementById("MSTWL");
    const msList = document.getElementById('btn-LocationList');
    //const radioButtons = document.getElementsByName("type");
    //radioButtons.forEach(button => {
    //    button.addEventListener("change", function () {          
    //        msQtyField.readOnly = button.value === "yes";
    //        msTWLField.readOnly = button.value === "no";
    //        if (button.value === "no") {
    //            msList.style.visibility = "hidden";
    //            selectedValue = true;
    //            document.getElementById('MSQty').readOnly = false;
    //        }
    //        if (button.value === "yes") {
    //            msList.style.visibility = "visible";
    //            selectedValue = false;
    //            document.getElementById('MSQty').readOnly = true;
    //        }
          
    //    });
    //});

    $('.batchno').keypress(function (e) {
        console.log("hit");
        if (e.which != 13) {

            return true;
        }
        scanBatch();
    });

    $(document).on('click', '#btn-MoveStock', {}, function (e) {

        $("#MoveStock").dialog("open");

    });
    $(document).on('click', '#btn-LocationList', {}, function (e) {

          
        $("#LocationList").dialog("open");

    });
    $(document).on('click', '#btn-move-batch', {}, function (e) {

        MoveBatch();

    });



    function selectValue(name) {

        $("#MSTWL").val(name);
        $("#LocationList").dialog("close");

    }

    function scanBatch() {
        var options = {};
        options.url = "/Inventory/searchBatch";
        options.type = "POST";
        options.data = { batch: $("#batchno").val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data) {
            if (data) {


                let myArray = data.split("|");
                $("#MSProduct").val(myArray[0]);
                document.getElementById('MSProduct').readOnly = true;
                $("#MSFWL").val(myArray[1]);
                document.getElementById('MSFWL').readOnly = true;
                $("#MSAM1").val(myArray[2]);
                document.getElementById('MSAM1').readOnly = true;
                 $("#MSAM2").val(myArray[3]);
                document.getElementById('MSAM2').readOnly = true;
                $("#MSQty").val(myArray[4]);
                $("#MSBatchQTY").val(myArray[4]);

                
            
                document.getElementById('btn-LocationList').style.visibility = "visible";


                $("#MoveStock").dialog("close");
                $("#MoveStock").dialog("open");

            }
            else {
                $("#errorMsg").text(data);
                $("#Error").show();
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while scanning batch!");
        };
        $.ajax(options);
    }

    function MoveBatch() {
  


        var options = {};
        options.url = "/Inventory/MoveBatch";
        options.type = "POST";
        options.data = { productNo: $("#MSProduct").val(), fromWarehouseNo: $("#batchno").val(), fromPlaceNo: $("#MSFWL").val(), toWarehouseNo: $("#batchno").val(), toPlaceNo: $("#MSTWL").val(), amount: $("#MSQty").val(), batchAmount: $("#MSBatchQTY").val(), moveWarehouse: selectedValue };
        options.dataType = "text";
        options.success = function (data) {
            if (data=="OK") {
                var toWhLocation = '';
                if ($("#MSTWL").val() === '') {
                    toWhLocation = $("#MSFWL").val();
                }
                else {
                    toWhLocation = $("#MSTWL").val();
                }
               
                document.getElementById('oldWhLabel').innerHTML = $("#batchno").val();
                document.getElementById('oldLocationLabel').innerHTML = $("#MSFWL").val();
                document.getElementById('oldQtyLabel').innerHTML = '0';
                document.getElementById('newWhLabel').innerHTML = $("#MSTW").val();
                document.getElementById('newLocationLabel').innerHTML = toWhLocation;
                document.getElementById('newQtyLabel').innerHTML = $("#MSQty").val();
              
                $("#responseModal").dialog("open");
                $("#MSFWL").val($("#MSTWL").val());
               $("#MSTWL").val("");
            }
            else if (data.startsWith("-")) {
                var wh = data.replace("-","");
                var toWhLocation = '';
                if ($("#MSTWL").val()==='') {
                    toWhLocation = $("#MSFWL").val();
                }
                else {
                    toWhLocation = $("#MSTWL").val();
                }
                $("#MSTW").val(wh);
                $("#MSBatchQTY").val($("#MSBatchQTY").val() - $("#MSQty").val());

                document.getElementById('oldWhLabel').innerHTML = $("#batchno").val();
                document.getElementById('oldLocationLabel').innerHTML = $("#MSFWL").val();
                document.getElementById('oldQtyLabel').innerHTML = $("#MSBatchQTY").val();
                document.getElementById('newWhLabel').innerHTML = $("#MSTW").val();
                document.getElementById('newLocationLabel').innerHTML = toWhLocation;
                document.getElementById('newQtyLabel').innerHTML = $("#MSQty").val();
              
                $("#responseModal").dialog("open");
            }
            else {
                $("#errorMsg").text(data);
                $("#Error").show();
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while moving Batch!");
        };
        $.ajax(options);
        }


    $(function () {
        $("#dialog-message").dialog({
            autoOpen: false,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });

        if ($("#inventory-message").text() != "") {
            $("#dialog-message").dialog("open");
        }


        // Put focus on product field on load
        if ($('#warehouse').val() == "") {
            $('#warehouse').focus();
        }
        else {
            $('#productno').focus();
        }

        // Handle ajax event to check that product exist before moving on
        $('#productno').blur(function () {
            if ($('#productno').text != "") {
                $.ajax({
                    url: "@Url.Action("FindProduct","FloatingStockLocation")",
                    data: {search: $('#productno').val()},
                    dataType: "json",
                    success: function (model) {
                        if (model.ProductNo != null) {
                            $('#product-description').text(model.Description);
                            $('#product-text15').text(model.WarehouseNo);

                            $.ajax({
                                url: "@Url.Action("GetWarehouseList", "FloatingStockLocation")",
                                data: { product: $('#productno').val(), locationid: $("#sel-set").val() },
                                dataType: "json",
                                success: function (model) {
                                    $("#warehouseSelect").empty();
                                    $.each(model, function (index, value) {
                                        $("#warehouseSelect").append(new Option(value.Id + " - " + value.Description + " ( " + value.WarehouseLocation + " ) " , value.Id));
                                    })
                            },
                                error: function (result) {
                                    alert('error');
                                }
                            });

                        }
                        else {
                            $('#product-description').text('Product was not found!');
                            $('#productno').val("");
                            $("#warehouseSelect").empty();
                            $("#warehouseSelect").append(new Option("Select warehouse", "Select warehouse"));
                        }
                },
                    error: function (result) {
                        alert('error');
                    }
                });
            }

        });

              // Handle ajax event to check that product exist before moving on
        //$('#place').blur(function () {
        //    if ($('#place').val() == "") {
        //        $('#warehouse-warning').text('Place is a mandatory field!');
        //        $('#place').focus();
        //    }
        //    else {
        //        $('#warehouse-warning').text('');
        //    }
        //});

        $('input').on('keyup', function () {
            let empty = false;

            $('input').each(function () {
                if ($(this).val().length == 0) {
                    empty = true;
                }
            });

            if (empty) {
                $('#submit').attr('disabled', 'disabled');
            }
            else {
                $('#submit').attr('disabled', false);
            }
        });


        // Check on select (InventorySet), if this is firered then we show the form components
        $("#sel-set").change(function () {
            $("#form-section").removeClass("invisible");
            $("#productno").val("");
            $("#place").val("");
            $("#amount").val("");
            $('#submit').attr('disabled', false);
            $("#frm-execute").submit();
        });
    });

    $("#frm-execute").bind("keypress", function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });

    function validateForm() {
        var x = document.forms["myForm"]["Place"].value;
        if (x == "") {
            $('#warehouse-warning').text('Place is a mandatory value!');
            return false;
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("invList");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    $(document).ready(function () {
        $('#locationFilter, #zoneFilter').on('keyup', function () {
            var locationValue = $('#locationFilter').val().toLowerCase();
            var zoneValue = $('#zoneFilter').val().toLowerCase();

            $('#locationList tbody tr').each(function () {
                var locationText = $(this).find('td:first').text().toLowerCase();
                var zoneText = $(this).find('td:nth-child(2)').text().toLowerCase();

                if (locationText.includes(locationValue) && zoneText.includes(zoneValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
    function applyColorFilter() {
        var colorFilterCheckbox = document.getElementById('colorFilter');
        var tableRows = document.querySelectorAll('#locationList tbody tr');

        if (colorFilterCheckbox.checked) {
            for (var i = 0; i < tableRows.length; i++) {
                if (tableRows[i].style.backgroundColor === 'lightgreen') {
                    tableRows[i].style.display = 'table-row';
                } else {
                    tableRows[i].style.display = 'none';
                }
            }
        } else {
            for (var i = 0; i < tableRows.length; i++) {
                tableRows[i].style.display = 'table-row';
            }
        }
    }
</script>