﻿@model Babc_logistic_core.Models.ProductsNotInSetVM

@{
    ViewData["Title"] = "ShowAllProductsNotInSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="logistics-page-header">
    <h1>Products not in stocktaking</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse dual-collapse2" id="action-list">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-route-setid="@Model.Set.ID" asp-action="SumInventory" style="margin-left:30px" class="nav-link active logistics-btn-back">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top:20px">
    <table class="table" style="margin-top:20px">
        <thead>
            <tr>
                <th>
                    ProductNo
                </th>
                <th>
                    Description
                </th>
                <th>
                    Place
                </th>
                <th>
                    WarehouseNo
                </th>
                <th>
                    Stock
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Babc_logistic_core.Models.MissingProduct item in Model.ProductList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarehouseNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
