﻿@model Babc_logistic_core.Models.InventoryOverviewVM

@{
    ViewData["Title"] = "SumInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="logistics-page-header">
    <h1>Inventory by product</h1>
</div>

<table id="sumList" class="table logistics-table" style="margin-top:20px">
    <thead>
        <tr style="cursor:pointer">
            <th onclick="sortTable(0)">
                ProductNo
            </th>
            <th onclick="sortTable(1)">
                Description
            </th>
            <th style="text-align:right" onclick="sortTable(2)">
                Orig. Amount
            </th>
            <th style="text-align:right" onclick="sortTable(3)">
                Amount
            </th>
            <th style="text-align:right" onclick="sortTable(4)">
                VIP
            </th>
            <th style="text-align:right" onclick="sortTable(5)">
                Diff
            </th>
            <th style="text-align:right" onclick="sortTable(6)">
                Diff value
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InventoryList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.OriginalAmount)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.VIPAtTime)
                </td>
                <td style="text-align:right">
                    @(item.Amount - item.OriginalAmount)
                </td>
                <td style="text-align:right">
                    @((item.Amount - item.OriginalAmount) * item.VIPAtTime)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function realParseFloat(s) {
        s = s.replace(/[^\d,.-]/g, ''); // strip everything except numbers, dots, commas and negative sign
        if (navigator.language.substring(0, 2) !== "de" && /^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(s)) // if not in German locale and matches #,###.######
        {
            s = s.replace(/,/g, ''); // strip out commas
            return parseFloat(s); // convert to number
        }
        else if (/^-?(?:\d+|\d{1,3}(?:\.\d{3})+)(?:,\d+)?$/.test(s)) // either in German locale or not match #,###.###### and now matches #.###,########
        {
            s = s.replace(/\./g, ''); // strip out dots
            s = s.replace(/,/g, '.'); // replace comma with dot
            return parseFloat(s);
        }
        else // try #,###.###### anyway
        {
            s = s.replace(/,/g, ''); // strip out commas
            return parseFloat(s); // convert to number
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("sumList");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (n > 1) {

                        if (realParseFloat(x.innerHTML) > realParseFloat(y.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else if (dir == "desc") {
                    if (n > 1) {
                        if (realParseFloat(x.innerHTML) < realParseFloat(y.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }

                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>