﻿@model Babc_logistic_core.Models.InventoryOverviewVM

@{
    ViewData["Title"] = "SumInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="logistics-page-header">
    <h1>Summarized inventory on - @Model.CurrentInventorySet.Description</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark logistics-navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Actions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#action-list" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="action-list">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-action="CreateInventoryFile" class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-setid="@Model.CurrentInventorySetId">Create inventory file</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ShowAllProductsNotInSet" class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-setid="@Model.CurrentInventorySetId" target="_blank">Show missing products</a>
                </li>
                <li class="nav-item">
                    <a asp-action="SumInventoryOnProduct" class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-setid="@Model.CurrentInventorySetId" target="_blank">Sum inventory by product</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="true">
                        Sort
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a asp-action="SumInventory" asp-route-setid="@Model.CurrentInventorySetId" asp-route-sortby="" class="dropdown-item">ProductNo</a></li>
                        <li><a asp-action="SumInventory" asp-route-setid="@Model.CurrentInventorySetId" asp-route-sortby="batch" class="dropdown-item">Batch</a></li>
                        <li><a asp-action="SumInventory" asp-route-setid="@Model.CurrentInventorySetId" asp-route-sortby="place" class="dropdown-item">Place</a></li>
                        <li><a asp-action="SumInventory" asp-route-setid="@Model.CurrentInventorySetId" asp-route-sortby="diff" class="dropdown-item">Diff</a></li>
                        <li><a asp-action="SumInventory" asp-route-setid="@Model.CurrentInventorySetId" asp-route-sortby="diffvalue" class="dropdown-item">Diff value</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-collapse collapse dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-action="EmtySetList" class="nav-link active btn btn-outline-dark logistics-btn-outlined" asp-route-setid="@Model.CurrentInventorySetId">Empty list and start new inventory</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<table id="sumList" class="table logistics-table" style="margin-top:20px">
    <thead>
        <tr style="cursor:pointer">
            <th onclick="sortTable(0)">
                ProductNo
            </th>
            <th onclick="sortTable(1)">
                Batch.No
            </th>
            <th onclick="sortTable(2)">
                Place
            </th>
            <th onclick="sortTable(3)">
                Date
            </th>
            <th onclick="sortTable(4)">
                Time
            </th>
            <th onclick="sortTable(5)">
                Orig. Amount
            </th>
            <th onclick="sortTable(6)">
                Amount
            </th>
            <th onclick="sortTable(7)">
                VIP
            </th>
            <th onclick="sortTable(8)">
                Diff
            </th>
            <th onclick="sortTable(9)">
                Diff value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InventoryList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseNo)
                    @if (!string.IsNullOrEmpty(item.Note))
                    {
                        string[] notelist = item.Note.Split(';');

                        foreach (string n in notelist)
                        {
                            if (n == "W")
                            {
                                <span style="padding-left:5px;" title="Occurs more than once in this list" class="badge badge-warning">@n</span>
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VIPAtTime)
                </td>
                <td>
                    @(item.Amount - item.OriginalAmount)
                </td>
                <td>
                    @((item.Amount - item.OriginalAmount) * item.VIPAtTime)
                </td>
                <td>
                    <a asp-action="DeleteInventory" class="btn logistics-btn-delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function realParseFloat(s) {
        s = s.replace(/[^\d,.-]/g, ''); // strip everything except numbers, dots, commas and negative sign
        if (navigator.language.substring(0, 2) !== "de" && /^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(s)) // if not in German locale and matches #,###.######
        {
            s = s.replace(/,/g, ''); // strip out commas
            return parseFloat(s); // convert to number
        }
        else if (/^-?(?:\d+|\d{1,3}(?:\.\d{3})+)(?:,\d+)?$/.test(s)) // either in German locale or not match #,###.###### and now matches #.###,########
        {
            s = s.replace(/\./g, ''); // strip out dots
            s = s.replace(/,/g, '.'); // replace comma with dot
            return parseFloat(s);
        }
        else // try #,###.###### anyway
        {
            s = s.replace(/,/g, ''); // strip out commas
            return parseFloat(s); // convert to number
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("sumList");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (n > 5) {
                        
                        if (realParseFloat(x.innerHTML) > realParseFloat(y.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else if (dir == "desc") {
                    if (n > 5) {
                        if (realParseFloat(x.innerHTML) < realParseFloat(y.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }

                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>