﻿@using Babc_logistic_core.Models;
@using Babc_logistic_core.ViewComponents;
@using Babc_logistic_core.GIS.DTO;
@using Babc_logistic_core.Database
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model OrderRowSliceModel

@{
    var user = UserManager.GetUserAsync(User).Result;

    var rowClass = "";
    var rowStyle = "";
    bool isFreeText = false;
    var Company = "";
    if (user.GisToken.ToLower() == "mafi")
    {
        Company = "SE";
    }
    else if (user.GisToken.ToLower() == "usa")
    {
        Company = "US";
    }
    else if (user.GisToken.ToLower() == "ea")
    {
        Company = "KE";
    }
    else if (user.GisToken.ToLower() == "mx")
    {
        Company = "MX";
    }
    else
    {
        Company = "SE";
    }

    // Dett rigth background colour depending on DeliverState on row
    if (Model.DeliverState == "5")
    {
        rowClass = "logistics-delivered-row";
    }
    else if (Model.DeliverState == "4")
    {
        rowClass = "logistics-part-delivered-row";
    }
}

<tr id="row-@Model.RowNo" class="@rowClass">
    <!-- Productno -->
    <td >
        <input type="hidden" name="orderno" value="@Model.OrderNo" />
        <input type="hidden" name="rowno" value="@Model.RowNo" />
        <input type="hidden" name="state" value="@Model.DeliverState" />
        @*<input type="hidden" name="deliverdate" value="@Model.DeliverDate" />*@

        <input type="hidden" name="ProductNo" id="data-deliverdate-@Model.RowNo" value="@Model.DeliverDate" />

        @Html.DisplayFor(modelItem => Model.ProductNo)

        <!-- This is fore scanning functions to find scanned productno and correct row assosiated to this product -->
        <input type="hidden" name="ProductNo" data-order="@Model.OrderNo" data-state="0" data-row="@Model.RowNo" class="productno" value="@Model.ProductNo" />

        <!-- Deliverdate -->
        <input type="hidden" id="deliverdate-@Model.RowNo" value="@Model.DeliverDate" />
    </td>

    <!-- Description1 -->
    <td style="display:block">
        
            @Model.Description @Model.Description2<br />
            @if (Model?.ProductText != null)
            {
                  foreach (var t in Model?.ProductText)
            {
          
            }
                @if (Model?.ProductText != null)
                {
                    foreach (var t in Model.ProductText)
                    {
                        <div style="font-style:italic;color:white">
                            <span>@t.Value</span>
                        </div>
                    }
                }
                foreach (Babc_logistic_core.GIS.DTO.OrderRowText t in Model.TextRows)
                {


                    if (t.PickListState == "1" || t.PickListState == "P")
                    {
                        if (Model.ProductNo == "9992" && t.Text.StartsWith("Free-Text:"))
                        {
                            string text = string.Empty;
                            <div style="font-style:italic;color:gray">

                                @if (t.Text.StartsWith("Free-Text:"))
                                {
                                    text = t.Text.PadRight(255).Substring(11, 244).Trim();
                                    isFreeText = true;
                                }
                                else
                                {
                                    text = t.Text;
                                }
                                <input type="text" style="margin-bottom:5px" id="textRowNo-@t.TextRowNo.Trim()" data-order="@Model.OrderNo" data-row="@Model.RowNo" data-textrow="@t.TextRowNo" class="form-control" value="@text" onblur="saveOrderRowText(@t.TextRowNo.Trim())" />
                            </div>
                        }
                        else
                        {
                            <div style="font-style:italic;color:gray;white-space:nowrap;font-size:small">
                             @t.Text
                            </div>
                        }

                    }
                }


            }
            @if (!isFreeText && Model.ProductNo == "9992")
            {
                <div style="font-style:italic;color:gray">


                    <input type="text" style="margin-bottom:5px" id="textRowNo-N" placeholder="Add Shipment free-text" data-order="@Model.OrderNo" data-row="@Model.RowNo" data-textrow="N" class="form-control" value="" onblur="saveOrderRowText('N')" />
                </div>
            }
        
    </td>

    <!-- Amount -->
    <td >
       
        <input type="number" min="0" max="50" step="any" id="deliver-amount-row-@Model.RowNo" data-remaining-amount="@Model.AmountRemaining" name="amount" style="color:black" class="form-control input-amount-pickorder" value="@Model.AmountRemaining" />
    </td>

    <!-- Warehouselist -->
    <td>
        @await Component.InvokeAsync("ExtendedWarehouseList", new { productno = Model.ProductNo, id = Model.RowNo.ToString(), warehouseno = Model.WarehouseNo })
        @if (Model.hasFrozenWH)
        {
            <span class="badge badge-warning">Has Frozen Warehouse</span>
        }
    
    </td>

    <!-- Back deliver button -->
    <td>
        @if (Model.isBatchPickStarted.Value)
         {
            <button type="submit" id="batchPickList-row-@Model.RowNo" data-order="@Model.OrderNo" data-row="@Model.RowNo" style="display:inline-block" class="btn logistics-btn-planned batchPickList-row"><i class="fa-duotone fa-clipboard-list fa-beat"></i></button>
         }
    </td>

    <!-- Full deliver button -->
    <td>
        <style>
            .buttons {
                width: 200px;
                margin: 0 auto;
                display: inline;
            }

            .action_btn {
                width: 200px;
                margin: 0 auto;
                display: inline;
            }
        </style>
        <div class="buttons">
            <div class="action_btn">
                @if (Model.ShowDeliverButton)
                {
                    <button id="btn-deliver-full-@Model.RowNo" style="float:right;margin-left:5px" data-order="@Model.OrderNo" data-row="@Model.RowNo" data-check-stock="@Model.CheckStock" class="btn logistics-btn-action btn-deliver-row">Deliver</button>
                }
                @if (Model.ShowBackButton)
                {
                    <a id="btn-back-@Model.RowNo" data-order="@Model.OrderNo" data-state="0" data-row="@Model.RowNo" style="float:right;margin-left:5px" class="btn logistics-btn-back btn-back-row btn-prog">Back</a>
                }
            </div>
        </div>
    </td>
    <td>
        @if (Model.CheckStock)
        {
            if(Model.PrintLabel == "X") {
                <button id="btn-print-labelLA-@Model.RowNo" style="float:right;margin-left:5px" data-order="@Model.OrderNo" data-origin="@Model.Origin" data-row="@Model.RowNo" data-check-stock="@Model.CheckStock" class="btn logistics-btn-action btn-print-labelLA">Label</button>
            }
            else if(Model.PrintLabel == "G")
            {
                <button id="btn-print-labelCustomer-@Model.RowNo" style="float:right;margin-left:5px" data-order="@Model.OrderNo" data-origin="@Model.Origin" data-row="@Model.RowNo" data-check-stock="@Model.CheckStock" class="btn logistics-btn-action btn-print-labelCustomer">Label</button>
            }
        }
    </td>
    <!-- Force full deliver checkbox -->
    <td>
        @if (Model.ShowDeliverButton)
        {
            <input id="force-final-deliver-@Model.RowNo" class="form-check-input" type="checkbox" value="" style="width:33px; height:33px;margin-left:5px;padding:0px" />
        }
    </td>
    @*    <td>
    <button class="btn logistics-btn-action btn-primary" id="btn-print-label">Print Customer Label</button>

    </td>*@
    <td>
        @if (Model.ManuallyAdded && Model.DeliverState == "0")
        {
            <button id="btn-delete-full-@Model.RowNo" style="float:right;margin-left:5px" data-order="@Model.OrderNo" data-row="@Model.RowNo" class="btn logistics-btn-delete btn-delete-row"><i class="far fa-trash-alt"></i></button>
        }
        else if (Model.MDF == "1")
        {
            @*            <a asp-controller="Production" asp-action="ViewDeliveredOrder" asp-route-delnote="@Model.Order?.LastDeliverNote" asp-route-onr="@Model.Order?.OrderNo" style="float:right;margin-left:5px" class="btn logistics-btn-planned"><i class="fa-duotone fa-toolbox"></i></a>
        <button id="btn-material-planned-@Model.RowNo" style="float:right;margin-left:5px" class="btn logistics-btn-planned"><i class="fa-duotone fa-toolbox"></i></button>
        *@            <form asp-action="MaterialList" method="get" asp-controller="Production" style="margin-left:4px;">
                <div class="form-group">
                    <input type="hidden" name="onr" class="delivernote" value="@Model.OrderNo" />
                    <input type="hidden" name="row" class="delivernote" value="@Model.RowNo" />
                    <input type="hidden" id="sign" name="sign" class="delivernote" value="@ViewBag.sign" />
                    <input type="hidden" id="isFutureOrder" name="isFutureOrder" class="delivernote" value="@ViewBag.isFutureOrder" />
                    <button type="submit" class="btn logistics-btn-planned"><i class="fa-duotone fa-toolbox"></i></button>
                </div>
            </form>
        }
    </td>
<tr />







@*Label*@
<div id="dialog-deliver" title="Print Customer Label">
    <form id="frm-deliver" method="post" action="PrintGoodsLabel">
        <div class="form-group">
            <label id="label-deliver-identity"><h6>Printer: 1 = Hall A, 2 = Hall B</h6></label>
            <input type="text" id="deliver-labelamount" name="qty" value="" maxlength="1" class="form-text">

            <label id="label-deliver-identity"><h6>Number of Labels:</h6></label>
            <input type="text" id="deliver-labelamount" name="qty" value="" maxlength="4" class="form-text">

        </div>
        <input type="hidden" id="deliver-orderno" name="orderno" value="@Model.OrderNo" />

        <input type="submit" value="Print" class="btn logistics-btn-action" />
        <input type="button" value="Cancel" class="btn logistics-btn-action" onclick="$('#dialog-deliver').dialog('close');" />
    </form>
</div>

<div id="dialog-deliverLA" title="Print Customer Label">
    <form id="frm-deliver" method="post" action="PrintGoodsLabelLA">
        <div class="form-group">
                @if (user.GisToken == "mafi" || user.GisToken == "Mafi22")
                {
                <label id="printerquelabel"><h6>Printer: 1 = Hall A, 2 = Hall B</h6></label>
                <input type="text" id="printerque" name="printerque" value="" maxlength="1" class="form-text printerque">
                }
            <label id="label-deliver-qtyofLabels"><h6>Number of Labels:</h6></label>
            <input type="text" id="qtyOfLabels" name="qtyOfLabels" value="1" maxlength="4" class="form-text qtyOfLabels">

            <label id="label-deliver-qty"><h6>Qty:</h6></label>
            <input type="text" id="qty" name="qty" value="" maxlength="4" class="form-text qty">

            <label id="label-deliver-origin"><h6>Country of Origin:</h6></label>
            <input type="text" id="origin" name="origin" value="@Model.Origin" maxlength="2" class="form-text origin">

            <label id="label-deliver-IncludeItemNo"><h6>Include Mafi item No.?  Y/N></label>
            <input type="text" id="IncludeItemNo" name="IncludeItemNo" value="Y" maxlength="2" class="form-text IncludeItemNo">
        </div>

        <input type="hidden" id="orderno" name="orderno" value="@Model.OrderNo" />
        <input type="hidden" id="company" name="company" value="@Company" />
        <input type="hidden" id="rowno" name="rowno" value="" />
        <input type="hidden" id="sign" name="sign" value="@ViewBag.sign" />

        <input type="submit" value="Print" class="btn logistics-btn-action" />
        <input type="button" id="Cancel" value="Cancel" onclick="$('#dialog-deliverLA').dialog('close');" class="btn logistics-btn-action Cancel" />

    </form>
</div>

<div id="dialog-deliverCustomer" title="Print Customer Label">
 
        <div class="form-group">


            <label id="label-deliver-qty"><h6>Qty:</h6></label>
            <input type="text" id="qtyCL" name="qtyCL" value="1" maxlength="4" class="form-text qty">

        </div>

        <input type="hidden" id="orderno" name="orderno" value="@Model.OrderNo" />
        <input type="hidden" id="customerSlice" name="customerSlice" value="@Model.CustomerNo" />
        <input type="hidden" id="text2" name="text2" value="@Model.OhText2" />
        <input type="hidden" id="productNo" name="productNo" value="@Model.ProductNo" />

    <input type="submit" id="btn-print-goodsmark-customer" name="btn-print-goodsmark-customer" value="Print" class="btn logistics-btn-action" />
    <input type="button" value="Cancel" onclick="$('#dialog-deliverCustomer').dialog('close');" class="btn logistics-btn-action Cancel" />


</div>
<div id="dialog-OK" title="Goods Label has been printed">
    <p class="validateTips">Goods Label has been printed.</p>


</div>

<div id="dialog-Error" title="Something went wrong">
    <p class="validateTips">There were an issue trying to print the label, please try again.</p>
 

</div>
<script>
    $(document).ready(function () {

        $("#dialog-deliver").dialog({
            autoOpen: false,
            height: 370,
            width: 350,
            modal: true,
            dialogClass: 'no-close',
        });


        $('#btn-print-label').click(function () {
            $("#dialog-deliver").dialog("open");
        });

        $('#btn-print-goodsmark-customer').click(function () {
            $("#dialog-deliverCustomer").dialog("close");
            printGoodsMarkLabelCustomer();
        });

   


        $('.Cancel').click(function () {
            var current = null;

            var order = null;
            var row = null;
            var origin = null;
            var qty = null;
            $('#dialog-deliverLA').dialog('close');
            return;

        })
        $("#dialog-deliverLA").dialog({
            autoOpen: false,
            height: 500,
            width: 350,
            modal: true,
            dialogClass: 'no-close',
        });

        $("#dialog-deliverCustomer").dialog({
            autoOpen: false,
            height: 230,
            width: 350,
            modal: true,
            dialogClass: 'no-close',
        });

        $("#dialog-OK").dialog({
            autoOpen: false,
            height: 200,
            width: 400,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });
        $("#dialog-Error").dialog({
            autoOpen: false,
            height: 230,
            width: 350,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });

    })
    $(document).on('click', '.btn-print-labelLA', {}, function (e) {
        var current = this.id;
        var order = $("#" + current).attr("data-order");
        var row = $("#" + current).attr("data-row");
        var origin = $("#" + current).attr("data-origin");
        var qty = $("#deliver-amount-row-" + row).val();




        $("#rowno").val(row);
        $("#printerque").val("");
        $("#qty").val(qty);
        $("#qtyOfLabels").val(1);
        $("#origin").val(origin);
        $("#IncludeItemNo").val("Y");
        $("#dialog-deliverLA").dialog("open");
    })
    $(document).on('click', '.btn-print-labelCustomer', {}, function (e) {
        var current = this.id;
        var order = $("#" + current).attr("data-order");


        $("#dialog-deliverCustomer").dialog("open");
    })

    function saveOrderRowText(textrow) {
        var options = {};
        var current = "#" + this.id;
        options.url = "/Transport/UpdateFreightTextRows";
        options.type = "POST";
        options.data = { onr: $("#textRowNo-" + textrow).attr("data-order"), rowNo: $("#textRowNo-" + textrow).attr("data-row"), textRowNo: $("#textRowNo-" + textrow).attr("data-textrow"), text: $("#textRowNo-" + textrow).val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data) {
            if (data.startsWith("OK")) {

                $("#dialog-OK").dialog("open");

            }
            else {
                $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while executing delivery!");
        };
        $.ajax(options);
    }

 
    function printGoodsMarkLabelCustomer(textrow) {
        var options = {};
        var current = "#" + this.id;
        options.url = "/Order/PrintGoodsMarkCustomer";
        options.type = "POST";
        options.data = { orderno: $("#orderno").val(), text2: $("#text2").val(), customerSlice: $("#customerSlice").val(), productNo: $("#productNo").val(), qty: $("#qtyCL").val() };
        options.dataType = "text"; 
        //options.contentType = "application/json";
        options.success = function (data) {
            if (data.startsWith("OK")) {

                $("#dialog-OK").dialog("open");

            }
            else {
                $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while executing print label!");
        };
        $.ajax(options);
    }

</script>

