﻿@using Babc_logistic_core.Models;
@using Babc_logistic_core.ViewComponents;
@using Babc_logistic_core.GIS.DTO;

@model PackageItem

<div id="package-selector">
    <div class="container border rounded transport-panel" style="padding:20px">
        <div class="row">
            <div class="col-11">
                <form id="frm-add-ta-pkg" asp-controller="@ViewBag.Controller" asp-action="@ViewBag.AddAction" method="post">
                    <div class="form-row">
                        <input type="hidden" asp-for="ID" class="form-control" />
                        <input type="hidden" asp-for="DeliverNoteNo" class="form-control" />

                        <div class="col-3">
                            <label asp-for="PackageType"></label>

                            <select name="PackageType" class="form-control" tabindex="1">
                                <option value="">Choose packagetype</option>
                                @if (ViewBag.PackageTypeList != null)
                                {
                                    foreach (var pt in ViewBag.PackageTypeList)
                                    {
                                        <option value="@pt.Id">@pt.Id - @pt.Description</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col">
                            <label asp-for="Quantity"></label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="2" name="Quantity" value="@Model.Quantity" class="form-control" />
                        </div>

                        <div class="col">
                            <label name="Label-Weight" asp-for="Weight"></label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="3" name="Weight" value="@Model.Weight" class="form-control calc-volume" />
                        </div>
                        <div class="col">
                            <label name="Label-Length">Length ( M )</label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="4" name="Length" id="length" value="@Model.Length" class="form-control calc-volume" />
                        </div>
                        <div class="col">
                            <label name="Label-Width">Width ( M )</label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="5" name="Width" id="width" value="@Model.Width" class="form-control calc-volume" />
                        </div>
                        <div class="col">
                            <label name="Label-Height">Height ( M )</label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="6" name="Height" id="height" value="@Model.Height" class="form-control calc-volume" />
                        </div>
                        <div class="col">
                            <label name="Label-Volume" asp-for="Volume"></label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="7" name="Volume" id="volume" value="@Model.Volume" class="form-control calc-volume" />
                        </div>
                        <div class="col">
                            <label>Loading Meters</label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="8" name="LoadingMeters" id="LoadingMeters" value="@Model.LoadingMeters" class="form-control calc-volume" />
                            <input type="hidden" name="GoodsMeasurementType" id="GoodsMeasurementType" value="@Model.GoodsMeasurementType" class="form-control calc-volume" />
                        </div>
                        <div class="col">
                            <label asp-for="Pieces"></label>
                            <input type="text" inputmode="decimal" onclick="this.select();" tabindex="9" name="Pieces" id="pieces" value="@Model.Pieces" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1">
                <button id="btn-add-ta-pkg" class="btn logistics-btn-action" tabindex="10" style="margin-top:32px;float:right">Add</button>
            </div>
        </div>
    </div>


    <div style="margin-top:20px;padding:10px" class="border rounded">
        <div >
            <h4 style="color:gray">Added packages</h4>
        </div>

        <table id="package-added-list" class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Qty</th>                  
                    <th>Weight</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Volume</th>
                    <th>Loading Meters</th>
                    <th>Pieces</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.AddedPackageList?.Count > 0)
                {
                    ViewBag.PackageCount = 0;
                    foreach (var item in ViewBag.AddedPackageList)
                    {
                        ViewBag.PackageCount += item.Quantity;
                        <tr> <td>@item.PackageType</td>
                            <td>@item.Quantity</td>
                            <td>@item.Weight</td>
                            <td>@item.Length</td>
                            <td>@item.Width</td>
                            <td>@item.Height</td>
                            <td>@item.Volume</td>
                            <td>@item.LoadingMeters</td>
                            <td>@item.Pieces</td>
                            <td>
                                <button class="btn logistics-btn-action btn-copy-ta-pkg" data-id="@item.ID" data-delivernote="@item.DeliverNoteNo" data-controller="@ViewBag.Controller" data-action="@ViewBag.CopyAction" style="float:right">Copy</button>
                                <button id="btn-edit-@item.ID" style="float:right;margin-left:5px;margin-right:5px;" data-id="@item.ID" data-packageType="@item.PackageType" data-quantity="@item.Quantity" data-weight="@item.Weight" data-length="@item.Length" data-width="@item.Width" data-height="@item.Height" data-volume="@item.Volume" data-pieces="@item.Pieces" data-loadingMeters="@item.LoadingMeters" class="btn logistics-btn-action btn-edit">Edit</button>
                                <button class="btn logistics-btn-back btn-delete-ta-pkg" data-id="@item.ID" data-delivernote="@item.DeliverNoteNo" data-controller="@ViewBag.Controller" data-action="@ViewBag.DeleteAction" style="float:right">Delete</button>
                          
                            </td>
                        </tr>
                    }
                    <input type="hidden" id="TapQty" name="TapQty" value="@ViewBag.PackageCount" />
                }
              
            </tbody>
        </table>
    </div>
  

    <div id="dialog-editPackage" title="Edit">
        <form id="frm-update-ta-pkg" asp-controller="@ViewBag.Controller" asp-action="@ViewBag.UpdateAction" onsubmit="event.preventDefault(); updatePackage();">
            <div class="form-row">

                <input type="hidden" asp-for="DeliverNoteNo" name="DeliverNoteNo" class="form-control" />


                <div class="col-3">
                    <label asp-for="PackageType"></label>

                    <select name="PackageType" id="EPackageType" class="form-control" tabindex="1">
                        <option value="">Choose packagetype</option>
                        @if (ViewBag.PackageTypeList != null)
                        {
                            foreach (var pt in ViewBag.PackageTypeList)
                            {
                                <option value="@pt.Id">@pt.Id - @pt.Description</option>
                            }
                        }
                    </select>
                </div>
                
                <div class="col">
                    <label asp-for="Quantity"></label>
                    <input type="hidden" name="ID" id="EID" value="@Model.ID" class="form-control" />
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="2" name="Quantity" id="EQuantity" value="@Model.Quantity" class="form-control" />
                </div>

                <div class="col">
                    <label asp-for="Weight"></label>
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="3" name="Weight" id="EWeight" value="@Model.Weight" class="form-control" />
                </div>
                <div class="col">
                    <label>Length</label>
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="4" name="Length" id="ELength" value="@Model.Length" class="form-control Ecalc-volume" />
                </div>
                <div class="col">
                    <label>Width</label>
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="5" name="Width" id="EWidth" value="@Model.Width" class="form-control Ecalc-volume" />
                </div>
                <div class="col">
                    <label>Height</label>
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="6" name="Height" id="EHeight" value="@Model.Height" class="form-control Ecalc-volume" />
                </div>
                <div class="col">
                    <label asp-for="Volume"></label>
                    <input type="text" inputmode="decimal" step="0.01" onclick="this.select();" tabindex="7" name="Volume" id="EVolume" value="@Model.Volume" class="form-control Ecalc-volume" />
                </div>
                <div class="col">
                    <label>LM</label>
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="8" name="LoadingMeters" id="ELoadingMeters" value="@Model.LoadingMeters" class="form-control Ecalc-volume" />
                    <input type="hidden" name="GoodsMeasurementType" id="GoodsMeasurementType" value="@Model.GoodsMeasurementType" class="form-control Ecalc-volume" />
                </div>
                <div class="col">
                    <label asp-for="Pieces"></label>
                    <input type="text" inputmode="decimal" onclick="this.select();" tabindex="9" name="Pieces" id="EPieces" value="@Model.Pieces" class="form-control" />
                </div>
            </div> <div>
                <input type="submit" id="btn-update-ta-pkg" value="Save" class="btn logistics-btn-action" style="margin:5px" />

                <input type="button" id="Cancel" value="Cancel" class="btn logistics-btn-back Cancel" style="margin:5px" />
           
            </div>
         
        </form>

</div>
 







    <script>
        // Get the radio button elements
        var metricRadio = document.querySelector('input[name="UOM"][value="Metric"]');
        var usStandardRadio = document.querySelector('input[name="UOM"][value="UsStandard"]');

        // Add an event listener for the 'change' event to the metric radio button
        metricRadio.addEventListener('change', function (event) {
            if (event.target.checked) {
              
                console.log("Metric selected");
                var labellength = document.querySelector('label[name="Label-Length"]');
                var labelwidth = document.querySelector('label[name="Label-Width"]');
                var labelheight = document.querySelector('label[name="Label-Height"]');
                var labelvolume = document.querySelector('label[name="Label-Volume"]');
                var labelweight = document.querySelector('label[name="Label-Weight"]');

                // Change the text content of the label
                labellength.textContent = "Length (M)";
                labelwidth.textContent = "Width (M)";
                labelheight.textContent = "Height (M)";
                labelvolume.textContent = "Volume (m3)";
                labelweight.textContent = "Weight (Kg)";
              
            }
        });

        // Add an event listener for the 'change' event to the US Standard radio button
        usStandardRadio.addEventListener('change', function (event) {
            if (event.target.checked) {
              
                console.log("US Standard selected");
                var labellength = document.querySelector('label[name="Label-Length"]');
                var labelwidth = document.querySelector('label[name="Label-Width"]');
                var labelheight = document.querySelector('label[name="Label-Height"]');
                var labelvolume = document.querySelector('label[name="Label-Volume"]');
                var labelweight = document.querySelector('label[name="Label-Weight"]');

                // Change the text content of the label
                labellength.textContent = "Length (in)";
                labelwidth.textContent = "Width (in)";
                labelheight.textContent = "Height (in)";
                labelvolume.textContent = "Volume (cu. ft)";
                labelweight.textContent = "Weight (lbs)";




            }
        });



        $(document).ready(function () {

            $("#dialog-editPackage").dialog({
                autoOpen: false,
                height: 250,
                width: 1050,
                modal: true,
                dialogClass: 'no-close',
            });


            $('#btn-edit').click(function () {
                $("#dialog-editPackage").dialog("open");
            });




            $('.Cancel').click(function () {
                var current = null;

                var order = null;
                var row = null;
                var origin = null;
                var qty = null;
                $('#dialog-editPackage').dialog('close');
               
                return;

            })
            $("#dialog-editPackaeg").dialog({
                autoOpen: false,
                height: 500,
                width: 350,
                modal: true,
                dialogClass: 'no-close',
            });




        })


        $(document).on('click', '.btn-edit', {}, function (e) {
            var current = this.id;
            var id = $("#" + current).attr("data-id");
            var packagetype = $("#" + current).attr("data-packageType");
            var quantity = $("#" + current).attr("data-quantity");
            var pieces = $("#" + current).attr("data-pieces");
            var weight = $("#" + current).attr("data-weight");
            var length = $("#" + current).attr("data-length");
            var width = $("#" + current).attr("data-width");
            var height = $("#" + current).attr("data-height");
            var volume = $("#" + current).attr("data-volume");
            var loadingmeters = $("#" + current).attr("data-loadingMeters");

            $("#EID").val(id);
            $("#EPackageType").val(packagetype);
            $("#EQuantity").val(quantity);
            $("#EPieces").val(pieces);
            $("#EWeight").val(weight);
            $("#ELength").val(length);
            $("#EWidth").val(width);
            $("#EHeight").val(height);
            $("#EVolume").val(volume);
            $("#ELoadingMeters").val(loadingmeters);


            $("#dialog-editPackage").dialog("open");
        })


        $(".calc-volume").blur(function ()
        {
            $(this).val($(this).val().replace(".", ","));
            // If volume field is current field
            if($(this).attr("id") == "volume")
            {
                console.log("volume");

                if ($("#volume").val() == 0)
                {
                    $("#length").prop('disabled', false);
                    $("#length").val(0);

                    $("#width").prop('disabled', false);
                    $("#width").val(0);

                    $("#height").prop('disabled', false);
                    $("#height").val(0);
                    
                    $("#LoadingMeters").prop('disabled', false);
                    $("#LoadingMeters").val(0);

                }
                else
                {
                    $("#length").prop('disabled', true);
                    $("#length").val(0);

                    $("#width").prop('disabled', true);
                    $("#width").val(0);

                    $("#height").prop('disabled', true);
                    $("#height").val(0);
                    $("#LoadingMeters").prop('disabled', true);
                    $("#LoadingMeters").val(0);
                }
            }

            else if($(this).attr("id")=="LoadingMeters")
            {
                if ($("#LoadingMeters").val() == 0) {
                    $("#length").prop('disabled', false);
                    $("#length").val(0);

                    $("#width").prop('disabled', false);
                    $("#width").val(0);

                    $("#height").prop('disabled', false);
                    $("#height").val(0);

                    $("#volume").prop('disabled', false);
                    $("#volume").val(0);
                    $("#GoodsMeasurementType").val("");

                }
                else {
                    $("#length").prop('disabled', true);
                    $("#length").val(0);

                    $("#width").prop('disabled', true);
                    $("#width").val(0);

                    $("#height").prop('disabled', true);
                    $("#height").val(0);
                    $("#volume").prop('disabled', true);
                    $("#volume").val(0);
                    $("#GoodsMeasurementType").val("F");
                }
            }

            else // Other measure field is current
            {
                console.log("not volume");
                if ($("#length").val() == 0 && $("#width").val() == 0 && $("#height").val() == 0)
                {
                    console.log("not disabled");
                    $("#volume").prop('disabled', false);
                    $("#LoadingMeters").prop('disabled', false);
                    $("#LoadingMeters").val(0);

                }
                else
                {
                    console.log("disabled");
                    $("#volume").prop('disabled', true);
                    $("#LoadingMeters").prop('disabled', true);
                    $("#LoadingMeters").val(0);
                     //Calculate measure to volume
                    var vol = 0;
                    if (document.querySelector('input[name="UOM"]:checked').value === "Metric") {
                        vol = Math.round($("#length").val().replace(",", ".") * $("#width").val().replace(",", ".") * $("#height").val().replace(",", ".")*100)/100;
                    }
                    else if (document.querySelector('input[name="UOM"]:checked').value === "UsStandard") {
                        vol = Math.round($("#length").val().replace(",", ".") * $("#width").val().replace(",", ".") * $("#height").val().replace(",", ".") * 0.000578703704*100)/100;
                    }
                    $("#volume").val(vol);
                }
            }


        });

        $(".Ecalc-volume").blur(function () {
            $(this).val($(this).val().replace(".", ","));
            // If volume field is current field
            if ($(this).attr("id") == "Evolume") {
                console.log("Evolume");

                if ($("#Evolume").val() == 0) {
                    $("#Elength").prop('disabled', false);
                    $("#Elength").val(0);

                    $("#Ewidth").prop('disabled', false);
                    $("#Ewidth").val(0);

                    $("#Eheight").prop('disabled', false);
                    $("#Eheight").val(0);

                    $("#ELoadingMeters").prop('disabled', false);
                    $("#ELoadingMeters").val(0);

                }
                else {
                    $("#Elength").prop('disabled', true);
                    $("#Elength").val(0);

                    $("#Ewidth").prop('disabled', true);
                    $("#Ewidth").val(0);

                    $("#Eheight").prop('disabled', true);
                    $("#Eheight").val(0);
                    $("#ELoadingMeters").prop('disabled', true);
                    $("#ELoadingMeters").val(0);
                }
            }

            else if ($(this).attr("id") == "LoadingMeters") {
                if ($("#ELoadingMeters").val() == 0) {
                    $("#Elength").prop('disabled', false);
                    $("#Elength").val(0);

                    $("#Ewidth").prop('disabled', false);
                    $("#Ewidth").val(0);

                    $("#Eheight").prop('disabled', false);
                    $("#Eheight").val(0);

                    $("#Evolume").prop('disabled', false);
                    $("#Evolume").val(0);
                    $("#EGoodsMeasurementType").val("");

                }
                else {
                    $("#Elength").prop('disabled', true);
                    $("#Elength").val(0);

                    $("#Ewidth").prop('disabled', true);
                    $("#Ewidth").val(0);

                    $("#Eheight").prop('disabled', true);
                    $("#Eheight").val(0);
                    $("#Evolume").prop('disabled', true);
                    $("#Evolume").val(0);
                    $("#EGoodsMeasurementType").val("F");
                }
            }

            else // Other measure field is current
            {
                console.log("not volume");
                if ($("#Elength").val() == 0 && $("#Ewidth").val() == 0 && $("#Eheight").val() == 0) {
                    console.log("not disabled");
                    $("#Evolume").prop('disabled', false);
                    $("#ELoadingMeters").prop('disabled', false);
                    $("#ELoadingMeters").val(0);

                }
                else {
                    console.log("disabled");
                    $("#Evolume").prop('disabled', true);
                    $("#ELoadingMeters").prop('disabled', true);
                    $("#ELoadingMeters").val(0);
                    // Calculate measure to volume
       
                    var vol = 0;
                    if (document.querySelector('input[name="UOM"]:checked').value === "Metric") {
                        vol = Math.round(("#Elength").val().replace(",", ".") * $("#Ewidth").val().replace(",", ".") * $("#Eheight").val().replace(",", ".")*100)/100;
                    }
                    else if (document.querySelector('input[name="UOM"]:checked').value === "UsStandard") {
                        vol = Math.round($("#Elength").val().replace(",", ".") * $("#Ewidth").val().replace(",", ".") * $("#Eheight").val().replace(",", ".") * 0.000578703704*100)/100;
                    }



                    $("#Evolume").val(vol);
                }
            }


        });
    </script>
</div>
