@model BABC_Logistics_core.GIS.DTO.LogtradeShipmentResponse

@{
    ViewData["Title"] = "BookingResult";
}

<style>
.test
{
overflow:auto;


}
</style>


<h1>Booking result</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShipmentNumber)         
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == "Succeeded")
            {
                <span class="badge" style="background-color:darkgreen;color:white;padding:7px">@Model.Status</span>
            }
            else
            {
                <span class="badge" style="background-color:darkred;color:white;padding:7px">@Model.Status</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliverNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliverNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == "Shipment has been saved to Garp")
            {
                <input id="CostPrice" name="CostPrice" type="text" class="form-control" value="@Model.Price" style="width:90px;margin-right:5px" />
            } 
            else
            {
                @Html.DisplayFor(model => model.Price)
                <input type="hidden" id="CostPrice" value="" name="CostPrice" />
            }
           
        </dd>

        @if (Model.Messages?.Count > 0)
        {
            foreach (string msg in Model.Messages)
            {
                <dt class="col-sm-2">
                    Meddelande:
                </dt>
                <dd class="col-sm-10">
                    @msg
                </dd>
            }
        }

    </dl>

</div>
@if (Model.CalculatedFreight.IsFreightException.Value)
{
    <div style="margin-top:20px">
        <hr />
        <input id="onr" name="onr" type="hidden" value="@Model.OrderNo" />
        <input id="exOnr" name="exOnr" type="hidden" value="@Model.CalculatedFreight.FreightExceptionOrder" />
        <input id="exRow" name="exRow" type="hidden" value="@Model.CalculatedFreight.FreightExceptionRowNo" />
        <input id="token" name="token" type="hidden" value="@Model.CalculatedFreight.FreightExceptions.GisToken" />

        <label style="font-size:medium;font-weight:700">Price in Mafi AB / Cost Price: (In Order Currency)</label>      
        <input id="price" name="price" type="text" class="form-control" value="@ViewBag.CustomerPrice" style="width:90px;margin-right:5px" />
        @if (string.IsNullOrEmpty(@Model.CalculatedFreight.FreightExceptionOrder))
        {
                <span class="badge" style="background-color:darkred;color:white;padding:7px">Ingen Order hittades i Mafi AS.</span>
        }
        else {
        <label style="font-size:medium;font-weight:700">Price to Customer:</label>
        <input id="exNewPrice" name="exNewPrice" type="text" class="form-control" value="@Model.CalculatedFreight.FreightExceptionPrice" style="width:90px;margin-right:5px" />
        }
    </div>
}
else
{
    <div style="margin-top:20px">
        <hr />
        <input id="exOnr" name="exOnr" type="hidden" value="" />
        <input id="exRow" name="exRow" type="hidden" value="" />
        <input id="token" name="token" type="hidden" value="" />
        <input id="exNewPrice" name="exNewPrice" type="hidden" value="" />
        <label style="font-size:medium;font-weight:700">Customer price</label>
        @*    <form id="UpdatePrice" class="form-inline" asp-action="UpdatePrice" method="post">

    <div class="form-group">
    <input id="onr" name="onr" type="hidden" value="@Model.OrderNo" />
    <input id="price" name="price" type="text" class="form-control" value="@ViewBag.CustomerPrice" style="width:90px;margin-right:5px" />
    </div>
    </form>*@
        <input id="onr" name="onr" type="hidden" value="@Model.OrderNo" />
        <input id="price" name="price" type="text" class="form-control" value="@ViewBag.CustomerPrice" style="width:90px;margin-right:5px" />

    </div>

}

    <div style="margin-top:20px">
        <hr />
        <!-- <a class="btn btn-dark" style="width:90px" asp-controller="Order" asp-route-search_type="supplie" asp-action="PickList" asp-route-search_value="@DateTime.Now.ToString("yyMMdd")">To Order</a> -->
    <a class="btn btn-dark" asp-action="GetTransport" asp-route-delivernote="@Model.DeliverNo" asp-route-onr="@Model.OrderNo">Back</a>
        <button id="btn-save-price" class="btn logistics-btn-action" value="Save">Save</button>
      
        @if (ViewBag.DeliveryNoteState == "5")
        {
            <a class="btn logistics-btn-action start-button noprint disabled" href="/Order/PrintDeliverNote/@Model.DeliverNo" style="margin-left:10px"><span class="glyphicon glyphicon-print" > Delivernote Printed </span></a>

        }
        else
        {
            <a class="btn logistics-btn-action start-button noprint" href="/Order/PrintDeliverNote/@Model.DeliverNo"><span class="glyphicon glyphicon-print"> Print Delivernote </span></a>
           
        }

     


    
    </div>
    <div id="dialog-OK" title="Price has been saved">
    <p class="validateTips">The price has been saved to Garp.</p>

</div>

    <div id="dialog-Error" title="Something went wrong">
        <p class="validateTips">There were an issue trying to save the price to Garp, please try again.</p>

    </div>
    <input type="hidden" id="isFreightChanged" name="isFreightChanged" value="@Model.CalculatedFreight.IsFreightChanged"/>
    <div id="dialog-CalculatedPrice" title="Calculated Customer Price"> 

        <p class="validateTips"><b>Cost Price:</b> @Model.CalculatedFreight.OldPrice</p>
        <p class="validateTips"><b>Freight Free Day: </b>@(
        Model.CalculatedFreight.IsFreightFreeDay ? "Yes" : "No"
        )</p>
        <p class="validateTips"><b>Freight-free threshold:</b> @Model.CalculatedFreight.FreightThreshold</p>
        <p class="validateTips"><b>Order Value:</b> @Model.CalculatedFreight.OrderValue</p>
        <p class="validateTips"><b>Fixed Freight Charge:</b> @Model.CalculatedFreight.FixedFreightSurcharge</p>
        <p class="validateTips"><b>Fixed Transport Charge:</b> @Model.CalculatedFreight.FixedTransportSurcharge</p>
        <p class="validateTips"><b>Surcharge rate:</b> @Model.CalculatedFreight.SurchargeRate % (+@(
        (Model.CalculatedFreight.OldPrice * (Model.CalculatedFreight.SurchargeRate / 100)).ToString("#,##0.00")
        )) </p>
    @{
        if(Model.CalculatedFreight.FreightExceptionPrice.HasValue)
        {
            <p class="validateTips"><b>Price in Order Currency:</b> @Model.CalculatedFreight.NewPrice</p>
            <p class="validateTips"><b>Freight Charged to Order in Mafi AS:</b> @Model.CalculatedFreight.FreightExceptionPrice</p>
        }
        else
        {
            <p class="validateTips"><b>New Customer Price:</b> @Model.CalculatedFreight.NewPrice</p>
        }
    }
      

    </div>

<script>

    

    $(document).ready(function ()
    {
        $(document).on('click', '#btn-save-price', {}, function (e)
        {
          
            savePrice();

        });

            $("#dialog-OK").dialog({
                autoOpen: false,
                height: 200,
                width: 350,
                modal: true,
                buttons: {
                    OK: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {

                }
            });
        $("#dialog-Error").dialog({
            autoOpen: false,
            height: 200,
            width: 350,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });
        $("#dialog-CalculatedPrice").dialog({
            autoOpen: $("#isFreightChanged").val(),
            height: 500,
            width: 400,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });


    });

    function savePrice()
    {
        var options = {};
        options.url = "/Transport/UpdatePrice";
        options.type = "POST";
        options.data = { onr: $("#onr").val(), price: $("#price").val(), costPrice: $("#CostPrice").val(), exOnr: $("#exOnr").val(), exRow: $("#exRow").val(), token: $("#token").val(), exNewPrice: $("#exNewPrice").val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data)
        {
            if (data.startsWith("OK"))
            {
            
                $("#dialog-OK").dialog("open");
       
            }
            else
            {
                    $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function ()
        {
            hide_spinner($("#order-list"));
            alert("Error while executing delivery!");
        };
        $.ajax(options);
    }

</script>




    