﻿@using Babc_logistic_core.Models;
@using Babc_logistic_core.ViewComponents;
@using Babc_logistic_core.GIS.DTO;
@using Babc_logistic_core.Database
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model BABC_Logistics_core.Models.TransportVM

@{
    var user = UserManager.GetUserAsync(User).Result;

    string CheckAddPackage = "unchecked";
    
    if (user.GisToken.ToLower() == "usa")
    {
        CheckAddPackage = "checked";
    }

    }

<style>
    .transport-panel {
        background-color: #b5b5b5;
    }

    .no-close button.ui-dialog-titlebar-close {
        display: none !important;
    }
</style>

<div style="margin-bottom:60px">

    <h1 style="color:gray">Transport</h1>

    <div class="flex-md-row">
        <h5 style="color:gray">Deliverynote:  @Model.Shipment.DeliverNote</h5>

    </div>

    @{
        double LbsD = 0;
        double netD = decimal.ToDouble(Model.NetWeight);
        LbsD = netD * 0.45359237;
        decimal LBS = decimal.Round((decimal)LbsD,2);
    }

    <hr />
    <form id="frm-send-booking" asp-controller="Transport" asp-action="GetTransport" method="post">
        <input type="hidden" asp-for="NetWeight" value="@Model.NetWeight" />
        <input type="hidden" id="dn" asp-for="Transport.DeliverNo" />
        <input type="hidden" id="SaveShipment" name="SaveShipment" asp-for="SaveShipment" value="@Model.SaveShipment" />
        <input type="hidden" id="sendMail" asp-for="SendMail" value="false"/>
        <div class="container border rounded transport-panel " style="padding:20px">
            <div class="row">
                <div class="col">
                    <label class="form-label">Order</label>
                    <span class="form-control">@Model.Shipment.OrderNo</span>
                    <input id="onr" type="hidden" name="Transport.OrderNo" value="@Model.Shipment.OrderNo" />
                </div>
                <div class="col">
                    <label class="form-label">Customer</label>
                    <span class="form-control">@Model.Shipment.RecipientName</span>
                </div>
                <div class="col">
                    <label class="form-label">Address</label>
                    <span class="form-control">@Model.Shipment.RecipientAddress2 </span>
                </div>
                <div class="col">
                    <label class="form-label">Zip</label>
                    <input id="zip" class="form-control" asp-for="Shipment.RecipientZip" />
                </div>
                <div class="col">
                    <label class="form-label">City</label>
                    <input id="city" class="form-control" asp-for="Shipment.RecipientCity" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col">
                    <label class="form-label">Sender Reference</label>
                    <input class="form-control" asp-for="Shipment.SenderReference" />
                </div>
                <div class="col">
                    <label class="form-label">Recipient Reference</label>
                    <span class="form-control">@Model.Shipment.RecipientReference</span>               
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="col">
                    <label class="form-label">Contact</label>
                    <span class="form-control">@Model.Shipment.RecipientContactPerson</span>
                </div>
                <div class="col">
                    <label class="form-label">Phone</label>
                    <span class="form-control">@Model.Shipment.RecipientPhone</span>
                </div>
                <div class="col">
                    <label class="form-label">Email</label>
                    <span class="form-control">@Model.Shipment.RecipientEmail</span>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col">
                    <select id="deliver-way-select" asp-for="Transport.DeliverWayId" asp-items="@(new SelectList(Model.DeliverWayList,"Id","Description"))" class="form-select dropdown form-control">
                        <option selected>Choose deliverway</option>
                        <option>Save for export</option>
                    </select>
                </div>
           
            </div>

            @{
                var showTimedUnloadingDiv = ";display: none";
                if(!string.IsNullOrEmpty(Model.Transport.DeliverWayDescription))
                {
                    if (Model.Transport.DeliverWayDescription.Contains("(TL)"))
                    {
                        showTimedUnloadingDiv = ";display: initial";
                    }
                }
                else
                {
                    showTimedUnloadingDiv = ";display: none";
                }
            }
            <div id="timed-unloading" class="row" style="margin-top:20px @showTimedUnloadingDiv">
                <div class="col-2" style="text-align:center">
                    <label style="font-size:medium;font-weight:bold;margin-top:35px;">Tidslossning:</label>
                </div>
                <div class="col">
                    <label class="form-label">Date</label>
                    <input class="form-control" asp-for="@Model.TimedUnloading.Date" type="date" />
                </div>
                <div class="col">
                    <label class="form-label">From time of day</label>
                    <input class="form-control" asp-for="@Model.TimedUnloading.TimeFrom" asp-format="hh:mm" type="time" />
                </div>
                <div class="col">
                    <label class="form-label">To time of day</label>
                    <input class="form-control" asp-for="@Model.TimedUnloading.TimeTo" asp-format="hh:mm" type="time" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col">
                    <label class="form-label">Shipment Freetext</label>
                    <textarea class="form-control" rows="4" maxlength="350" asp-for="Shipment.ShipmentFreeText">@Model.Shipment.ShipmentFreeText.PadRight(255).Substring(11,244).Trim()</textarea>
                </div>

            </div>
        </div>

        <div style="margin-top:40px">
            <h2 style="color:gray">Package</h2>    <label class="form-label">Net Weight Shipment: @Model.NetWeight Kg / @LBS lbs</label> <input type="radio" class="form-radio" name="UOM" style="margin-left:10px" asp-for="UOM" checked value="Metric"><label class="form-label"><b>Metric</b></label> <input type="radio" asp-for="UOM" value="UsStandard" style="margin-left:10px" name="UOM"><label class="form-label"><b>US Standard</b></label> <input type="checkbox" @CheckAddPackage asp-for="AddPackageInformation" class="form-check" value="true" style="margin-left:10px;display:inline-block;" name="AddPackageInformation"><label style="margin-left:10px" class="form-label"><b>Add Package Information</b></label>
            <hr />
        </div>
    </form>

    <div style="margin-top:20px" id="viewPackage">
        @await Component.InvokeAsync("TAPackageSelector", new { delivernote = @Model.Transport.DeliverNo, controller = "Transport", add_action = "AddPackage", copy_action = "CopyPackage", update_action = "UpdatePackage", delete_action = "DeletePackage"  } )
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col">
            <a class="btn btn-dark" asp-action="PickOrder" asp-controller="Order" asp-route-id="@Model.Transport.OrderNo" asp-route-sign = "@ViewBag.sign" asp-route-force="true" style="margin-right:20px">Back</a>
   

            @if (Model.Shipment.DeliverNote == "5")
            {
                <a class="btn logistics-btn-action start-button noprint disabled" href="/Order/PrintDeliverNote/@Model.Shipment.DeliverNote"><span class="glyphicon glyphicon-print"> Delivernote Printed </span></a>

            }
            else
            {
                <a class="btn logistics-btn-action start-button noprint" href="/Order/PrintDeliverNote/@Model.Shipment.DeliverNote"><span class="glyphicon glyphicon-print"> Print Delivernote </span></a>
                // <a class="btn logistics-btn-action start-button noprint" href="/Transport/CalculateFreightPrice/142110"><span class="glyphicon glyphicon-print"> Beräkna frakt Test </span></a>
            }
            <button id="price-question"  asp-action="PriceQuestion" class="btn btn-dark">Prisfråga</button>
            <button id="book-transport" asp-action="BookingResult" class="btn btn-dark" form="frm-send-booking">Book transport</button>
            <button id="book-transport-save" name="book-transport-save" asp-action="BookingResult" class="btn btn-dark" form="frm-send-booking">Save</button>
            <button id="print-goods-mark" asp-action="PrintGoodsMark" class="btn btn-dark">Print Goods Mark</button>
            <button id="save-transport" class="btn btn-dark">Save for export</button>
        </div>
    </div>
</div>

<div id="dialog-deliver" title="Print Goodsmark">
  
        <div class="form-group">
            <label id="label-deliver-identity">Number of copies:</label>
        <input type="text" id="deliver-labelamount" name="deliver-labelamount" value="@ViewBag.PackageQty" maxlength="4" class="form-text" style="width:100%">
        </div>
        <input type="hidden" id="deliver-dn" name="deliver-dn" value="@Model.Shipment.DeliverNote" />
        <button id="btn-GoodsMarkPrint" class="btn logistics-btn-action">Print</button>
        <input type="button" value="Cancel" class="btn logistics-btn-action" onclick="$('#dialog-deliver').dialog('close');" />
   
</div>

<div id="dialog-price" title="Prisfråga">
    <form id="frm-deliver" method="post" action="PrintGoodsLabel">
        <div class="form-group">
            <label id="label-deliver-identity">Pris:</label>
            <input type="text" readonly id="price-value" name="qty" class="form-control" style="width:100%">
        </div>
        <input type="button" style="width:80px;height:35px" value="OK" class="btn logistics-btn-action" onclick="$('#dialog-price').dialog('close');" />
    </form>
</div>
<div id="dialog-saveAndSent" title="Saved" style="align-content:center;align-items:center;text-align:center">

    <div class="form-group" style="align-content:center;align-items:center;text-align:center">
            <label id="label-deliver-identity">Shipment has been saved, and buyer has been notified.</label>
           </div>
    <form asp-controller="Order" asp-action="PickList" method="post">
        <input type="button" id="saved-redirect" asp-controller="Order" asp-action="PickList" style="width:80px;height:35px" value="OK" class="btn logistics-btn-action" onclick="$('#dialog-save').dialog('close');" />
    </form>
</div>
<div id="dialog-save" title="Saved" style="align-content:center;align-items:center;text-align:center">

    <div class="form-group" style="align-content:center;align-items:center;text-align:center">
        <label id="label-deliver-identity">Shipment has been saved.</label>
    </div><form asp-controller="Order" asp-action="PickList" method="post">
    <input type="button" id="saved-redirect" asp-controller="Order" asp-action="PickList" style="width:80px;height:35px" value="OK" class="btn logistics-btn-action" />
    </form>
</div>
<div id="dialog-SaveAndSend" title="Do you want to send an email?" style="align-content:center;align-items:center;text-align:center">

    <div class="form-group" style="align-content:center;align-items:center;text-align:center">
        <label id="label-deliver-identity">Do you want to also send an email to order processing?</label>
    </div>
    <input type="button"  id="save-transportYes" style="width:80px;height:35px" value="Yes" class="btn btn-dark" form="frm-send-booking" />
    <input type="button"  id="save-transportNo" style="width:80px;height:35px" value="No" class="btn btn-dark" form="frm-send-booking" />

</div>

<div id="dialog-OK" title="Label has been sent to printer">
    <p class="validateTips">Your goods labels has been sent to the printer.</p>

</div>

<div id="dialog-Error" title="Something went wrong">
    <p class="validateTips">There were an issue trying to print your labels, please try again.</p>

</div>
<script>
    $(document).ready(function ()
    {
        $(document).on('click', '#save-transport', {}, function (e) {

            $("#dialog-SaveAndSend").dialog("open");

        });
        $(document).on('click', '#book-transport-save', {}, function (e) {

            $("#SaveShipment").val("true");

        });
        $(document).on('click', '#btn-GoodsMarkPrint', {}, function (e) {

            PrintGoodsMark();

        });
        $(document).on('click', '#print-goods-mark', {}, function (e) {
            $("#deliver-labelamount").val($("#TapQty").val());
   
            $("#dialog-deliver").dialog("open");

        });
        
        $(document).on('click', '#saved-redirect', {}, function (e) {

            $("#dialog-saveAndSent").dialog("close");
            $("#dialog-save").dialog("close");
            const date = new Date();

            let currentDay = String(date.getDate()).padStart(2, '0');

            let currentMonth = String(date.getMonth() + 1).padStart(2, "0");

            let currentYear = date.getFullYear();
          

            let currentDate = `${currentYear}${currentMonth}${currentDay}`;

            window.location.href = '/Order/PickList/?search_type=supplie&search_value='+currentDate;

        });

        $("#dialog-price").dialog({
            autoOpen: false,
            height: 210,
            width: 280,
            modal: true,
            dialogClass: 'no-close',
        });
        $("#dialog-SaveAndSend").dialog({
            autoOpen: false,
            height: 240,
            width: 420,
            modal: false,
        });
        $("#dialog-save").dialog({
            autoOpen: false,
            height: 210,
            width: 380,
            modal: false,
            dialogClass: 'no-close',
        });
        $("#dialog-saveAndSent").dialog({
            autoOpen: false,
            height: 210,
            width: 380,
            modal: true,
            dialogClass: 'no-close',
        });
        
        $("#dialog-deliver").dialog({
            autoOpen: false,
            height: 350,
            width: 350,
            modal: true,
            dialogClass: 'no-close',
        });
        $("#dialog-OK").dialog({
            autoOpen: false,
            height: 200,
            width: 400,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });
        $("#dialog-Error").dialog({
            autoOpen: false,
            height: 200,
            width: 350,
            modal: true,
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {

            }
        });
        $('#price-question').on('click', function (evt)
        {
            $("#pg-bar").show();
            evt.preventDefault();
            $.post('/Transport/PriceQuestion', $('#frm-send-booking').serialize(), function (data)
            {
                $("#price-value").val(data);
                $("#dialog-price").dialog("open");
                $("#pg-bar").hide();
            });
        });



    $('#save-transportYes').on('click', function (evt) {
        $("#pg-bar").show();
        $("#sendMail").val("true");
            $("#dialog-SaveAndSend").dialog("close");
        evt.preventDefault();
        $.post('/Transport/AddPackageInformationToFS', $('#frm-send-booking').serialize(), function (data) {
     
            $("#dialog-saveAndSent").dialog("open");
            $("#pg-bar").hide();
        });
    });

    $('#save-transportNo').on('click', function (evt) {
        $("#pg-bar").show();
        $("#sendMail").val("false");
            $("#dialog-SaveAndSend").dialog("close");
        evt.preventDefault();
        $.post('/Transport/AddPackageInformationToFS', $('#frm-send-booking').serialize(), function (data) {

            $("#dialog-save").dialog("open");
            $("#pg-bar").hide();
        });
    });

        $(".l_b_h").change(function ()
        {
            length = $("#Transport_Length" + $(this).data("idx")).val();
            width = $("#Transport_Width" + $(this).data("idx")).val();
            height = $("#Transport_Height" + $(this).data("idx")).val();

            volume = (length * width * height) / 1000000

            //$("#Transport_Volume" + $(this).data("idx")).val(volume);
            //$("#Transport_Volume" + $(this).data("idx")).attr('value', volume);
            document.getElementById("Transport_Volume" + $(this).data("idx")).setAttribute('value', volume);
        });

        $('#btn-print-label').click(function ()
        {

            $("#dialog-deliver").dialog("open");
        });

        $("#Transport_DeliverWayId").change(function ()
        {
            var text = $(this).children("option:selected").text();
            
            if(text.includes("(TL)"))
            {
                $("#timed-unloading").show();
            }
            else
            {
                $("#timed-unloading").hide();
            }
            
        });

    })

    function UpdateZipCity() {
        var options = {};
        options.url = "/Transport/UpdateZipCity";
        options.type = "POST";
        options.data = { onr: $("#onr").val(), dn: $("#dn").val(), zip: $("#zip").val(), city: $("#city").val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data) {
            if (data.startsWith("OK")) {

                $("#dialog-OK").dialog("open");

            }
            else {
                $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while updating City or Zip code!");
        };
        $.ajax(options);
    }
    function PrintGoodsMark() {
        $("#dialog-deliver").dialog("close");
        var options = {};
        options.url = "/Transport/PrintGoodsMark";
        options.type = "POST";
        options.data = { delnote: $("#deliver-dn").val(), qty: $("#deliver-labelamount").val() };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data) {
            if (data.startsWith("OK")) {

                $("#dialog-OK").dialog("open");

            }
            else {
                $("#dialog-Error").dialog("open");
            }
            return false;
        };

        options.error = function () {
            hide_spinner($("#order-list"));
            alert("Error while trying to print goods mark labels!");
        };
        $.ajax(options);
    }
</script>

<script>
    // Define an array of delivery ways
   // var deliveryWays = ["Choose deliverway", "Express", "Priority"];

    var deliveryways = @Html.Raw(Json.Serialize(Model.DeliverWayList
        .Where(d => d.Code8 == "C" && d.Code9 == "A")
        .Select(d => d.Id)));


    var selectList = document.getElementById("deliver-way-select");
    var priceQuestionButton = document.getElementById("price-question");
    var bookTransportButton = document.getElementById("book-transport"); 
    var saveTransportButton = document.getElementById("save-transport");
    var saveButton = document.getElementById("book-transport-save");
 

    document.getElementById("deliver-way-select").value = "Choose deliverway";
    // Hide the button initially
    priceQuestionButton.style.display = "none";
    bookTransportButton.style.display = "none";
    saveTransportButton.style.display = "none";
    saveButton.style.display = "none";
    // Add an event listener to the select list to listen for changes
    selectList.addEventListener("change", function () {
        // Check if the selected value is in the delivery ways array
        var selectedValue = selectList.value;
        console.log(selectedValue);
        if (deliveryways.indexOf(selectedValue) > -1) {
            // Show the button if the selected value is in the delivery ways array
            priceQuestionButton.style.display = "inline-block";
           bookTransportButton.style.display = "inline-block";
            saveTransportButton.style.display = "none";
            saveButton.style.display = "none";
        } else if (selectedValue==="Save for export") {
            // Hide the button if the selected value is not in the delivery ways array
            priceQuestionButton.style.display = "none";
            bookTransportButton.style.display = "none";
            saveTransportButton.style.display = "inline-block";
            saveButton.style.display = "none";

     

        }
        else if (selectedValue === "Choose deliverway") {
            priceQuestionButton.style.display = "none";
            bookTransportButton.style.display = "none";
            saveTransportButton.style.display = "none";
            saveButton.style.display = "none";
        }
        else {
            // Hide the button if the selected value is not in the delivery ways array
            priceQuestionButton.style.display = "none";
            bookTransportButton.style.display = "none";
            saveTransportButton.style.display = "none";
            saveButton.style.display = "inline-block";
        }
    });

</script>
