﻿@model BABC_Logistics_core.GIS.DTO.LogtradePriceQuestionResponse

@{
    ViewData["Title"] = "BookingResult";
}

<h1>Booking result</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BasedOnThisShipment.DeliverNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasedOnThisShipment.DeliverNote)
        </dd>

        @if (Model.Messages?.Count > 0)
        {
            foreach (string msg in Model.Messages)
            {
                <dt class="col-sm-2">
                    Meddelande:
                </dt>
                <dd class="col-sm-10">
                    @msg
                </dd>
            }
        }
    </dl>
</div>
<div>
    @*<a class="btn btn-dark" asp-action="UpdateOrderWithTransportCost" asp-route-onr="@Model.BasedOnThisShipment.OrderNo" asp-route-price="@Model.Price" asp-route-delivernote="@Model.BasedOnThisShipment.DeliverNote">Update order with price</a>*@
    <a class="btn btn-dark" asp-action="GetTransport" asp-route-delivernote="@Model.BasedOnThisShipment.DeliverNote">Back</a>
</div>
