﻿@using Babc_logistic_core.Models;
@using Babc_logistic_core.ViewComponents;
@using Babc_logistic_core.GIS.DTO;
@using Babc_logistic_core.Database
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model InventoryLocationListModel

<table id="locationList" class="table logistics-table">
    <thead style="position:sticky;top:0px; padding:0px; margin:0px; background-color: #fff;">
        <tr>
            <th colspan="2" style="height:15px;width:180px">
                @*                        <input class="form-check-input" style="width:20px; height:20px;margin-left:5px;padding:0px" type="checkbox" id="colorFilter" onchange="applyColorFilter()">
                <label for="colorFilter">Show Free Locations</label>*@
                <input type="checkbox" id="colorFilter" onchange="applyColorFilter()">
                <label for="colorFilter">Show Free Locations</label>
            </th>
        </tr>
        <tr>
            <th style="width:110px">Location:   </th>

            <th style="width:70px">Zone:</th>

        </tr>
        <tr>
            <th><input type="text" style="width:95px" id="locationFilter" class="form-control" placeholder="Location"></th>


            <th> <input type="text" style="width:75px" width="40" class="form-control" id="zoneFilter" placeholder="Zone"></th>


        </tr>
    </thead>
    <tbody>
        @{
            string bgcolour = "";
        }
        @foreach (var location in Model.ProductPlaceList)
        {

            if (location.IsFree.Value)
            {
                bgcolour = "lightgreen";
            }
            else
            {
                bgcolour = "";
            }

            <tr style="background-color:@bgcolour">
                <td style="width:110px" onclick="selectValue('@location.Place')">@location.Place</td>
                <td style="width:70px">
                    @location.Zone

                </td>




            </tr>
        }
    </tbody>
</table>
